// @file
// Styles for two column list variant.

$list-column-gap: 2em;
$list-item-padding: 0.25em;

.list--two-column {
  list-style: none;
  margin-left: 0;
  @include breakpoint(500px) {
    column-count: 2;
    column-gap: $list-column-gap;
  }

  > li  {
    break-inside: avoid-column;
    display: table; // break-inside alternative for Firefox
    margin-bottom: 0;
    padding-bottom: $list-item-padding; // use padding instead of margin for Safari bug with CSS columns
  }

}
