
<div class="l-flex-media l-flex-media--column">
<div><p style="background:#333;color:#fff;padding:1em; margin:0;">Media</p></div>
<div><p style="background:#333;color:#fff;padding:1em; margin:0;">Content</p></div>
</div>