
<div class="l-flex-row">
<div><p style="background:#333;color:#fff;padding:1em; margin:0;">Item</p></div>
<div><p style="background:#333;color:#fff;padding:1em; margin:0;">Item</p></div>
<div><p style="background:#333;color:#fff;padding:1em; margin:0;">Item</p></div>
<div><p style="background:#333;color:#fff;padding:1em; margin:0;">Item</p></div>
</div>