{#
 /**
  * @file
  * Theme override for a dropbutton wrapper.
  *
  * Available variables:
  * - children: Contains the child elements of the dropbutton menu.
  *
  * @see template_preprocess()
  */
#}
{% if children %}
  {% spaceless %}
    <div class="dropbutton js-dropbutton">
      {{ children }}
    </div>
  {% endspaceless %}
{% endif %}
