{% set classes = [
  'form-item__label',
  title_display == 'after' ? 'is-after',
  title_display == 'invisible' ? 'visually-hidden',
  required ? 'is-required',
  required ? 'js-form-required',
] %}

{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>
    {{ title }}
    {% if required %}
      <span class="form-item__required-marker"><span class="visually-hidden">{{ 'This field is required.'|t }}</span></span>
    {% endif %}
  </label>
{%- endif %}
