<div class="form-item form-item--checkbox">
  <input class="form-item__checkbox" id="{{ checkbox_id }}" type="checkbox" {% if checkbox_disabled %}disabled{% endif %} {% if checkbox_checked %}checked{% endif %}>
  <label class="form-item__label is-after" for="{{ checkbox_id }}">{{ checkbox_label}}</label>
</div>