<div class="form-item form-item--time">
  <label class="form-item__label" for="edit-time">Time</label>
  <input class="form-item__time" id="edit-time" type="time" title="Time (e.g. 09:30:30)" step="1" size="12">
</div>
