<div class="file">
  <img class="file__icon" alt="{{ file.mime }}" src="{{ file.icon }}">
  <a href="#" class="file__link">{{ file.name }}</a>
  <span class="file__size">({{ file.size}})</span>
</div>
