// @file
// Styles for Drupal messages.

@import 'partials/global';
$bp-larger-message-icon: 600px;

.messages {
  background-color: #f1f1f1;
  background-position: em(10px) em(10px); // LTR
  background-repeat: no-repeat;
  background-size: em(40px);
  color: #212121;
  margin-bottom: rem($vertical-spacing);
  padding: 1em;
  position: relative;
  word-wrap: break-word;

  @if $support-for-rtl {
    [dir='rtl'] & {
      background-position: right em(10px) top em(10px);
    }
  }

  @include breakpoint($bp-larger-message-icon) {
    background-size: em(52px);
  }

  @media print {
    background-image: none !important;
  }
}

.messages__content {
  display: table-cell;
  padding-left: em(50px); // LTR
  vertical-align: top;

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding-left: 0;
      padding-right: em(50px);
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.messages--error {
  @include svg-background(messages-error);
  background-color: #f9dede;

  .messages__item {
    em:first-child {
      font-style: normal;
      font-weight: bold;
    }
  }
}

.messages--status {
  @include svg-background(messages-status);
  background-color: #e7f4e4;
}

.messages--warning {
  @include svg-background(messages-warning);
  background-color: #fff1d2;;
}
