// Legacy browser support.
// Since we only want to support IE8 and below in this stylesheet, we set the
// thresholds to 100% and manually set which IE versions we want to support.
$critical-usage-threshold: 100;
$graceful-usage-threshold: 100;
$browser-minimum-versions: (
  'ie': '8'
);

// Don't print media queries & print no query fallbacks.
// github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
$breakpoint-no-queries: true;
$breakpoint-no-query-fallbacks: true;

@import 'partials/global';
@import 'partials/base';
@import 'partials/helper-classes';
@import 'partials/module-tweaks';
@import 'partials/layout';
@import 'partials/components';
@import 'partials/quick-fixes';
