// Styles for browsers that don't support media queries.
$legacy-support-for-ie8: true;

@import 'breakpoint-sass/stylesheets/breakpoint'; // github.com/Team-Sass/breakpoint
// Don't print media queries & print no query fallbacks.
// github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
@include breakpoint-set('no queries', true);
@include breakpoint-set('no query fallbacks', true);

@import 'partials/global';
@import 'partials/base';
@import 'partials/helper-classes';
@import 'partials/layout';
@import 'partials/components';
@import 'partials/overrides';
@import 'partials/quick-fixes';
