$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;

// CSS overrides for Pattern Lab only.  This stylesheet is not loaded by the
// Drupal theme.

@import 'breakpoint-sass/stylesheets/breakpoint'; // github.com/Team-Sass/breakpoint
@include breakpoint-set('no queries', false);
@include breakpoint-set('no query fallbacks', false);

@import 'partials/global';
@import 'partials/base';
