// @file
// Styles for the mobile menu.

.nav--mobile-menu {
  margin: 0.75em 0 0 0;

  .nav__item {
    margin: 0;
    padding: 0;
  }

  .nav__link {
    background-color: transparent;
    border: 0;
    color: $mobile-menu-text-color;
    display: block;
    font-family: $mobile-menu-font-family;
    font-size: em(18px);
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
    padding: em(10.75px, 18px) 1.25em;
    position: relative;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: auto;
    z-index: 3;

    &:focus,
    &:hover,
    &:active,
    &.is-active {
      color: $mobile-menu-hover-color;
    }
  }

  .nav__item--parent {
    position: relative;

    &.is-open {
      background: $mobile-submenu-fallback-bg-color;
      background: $mobile-submenu-bg-color;
    }

    > .nav__link {
      display: inline-block;
    }
  }

  .nav__subnav-arrow {
    background: none;
    @include image-replace(100%, 44px);
    @include svg-background(mobile-arrow-down);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 19px 12px;
    border: 0;
    @include box-shadow(none);
    display: inline-block;
    height: em(44px);
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    z-index: 2;

    &:focus {
      outline: thin dotted;
    }

    &.is-active {
      @include svg-background(mobile-arrow-up);
    }

    [dir="rtl"] & {
      left: 0;
      right: auto;
    }
  }

  .nav--subnav {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    .nav__item {}

    .nav__link {
      color: $mobile-submenu-text-color;
      padding-left: 2em;

      &:focus,
      &:hover,
      &:active {
        color: $mobile-submenu-hover-color;
      }
    }
  }
}
