<div class="l-postscript">
  {% if has_constrain %}
    <div class="{{ constrain_classes ?: 'l-constrain' }}">
  {% endif %}
  {% block content %}
    Postscript Region Content
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</div>
