{% set classes = [
  'figure',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<figure class="{{ classes }}"{% if caption is defined %} role="group"{% endif %}>
  <div class="figure__media">{{ media }}</div>
  {% if caption is defined %}
    <figcaption class="figure__caption">{{ caption }}</figcaption>
  {% endif %}
</figure>
