// @file
// Styles for Pager.

$bp-ellipsis: 800px;
$bp-pager: 600px;
$pager-bg-color: gesso-palette(blue, base);
$pager-bg-color-hover: gesso-palette(blue, light);
$pager-bg-color-active: gesso-palette(blue, dark);

.pager__items {
  @include list-clean();
  clear: both;
  margin: em(gesso-spacing(md)) 0;
  padding: 0;
  text-align: center;
}

.pager__item {
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;

  &:not([class*='pager__item--']) {
    display: none;

    @include breakpoint($bp-pager) {
      display: inline-block;
    }
  }
}

%pager__link {
  background-color: transparent;
  color: gesso-color(text,primary);
  min-width: rem(gesso-spacing(lg));
  padding: em(gesso-spacing(xsm));
  transition: color gesso-duration(short) gesso-easing(ease-out),
    background-color gesso-duration(standard) gesso-easing(ease-out);

  &:focus {
    outline: 1px dotted gesso-grayscale(gray-5);
  }
}

.pager__item--ellipsis {
  @extend %pager__link;
  display: none;

  @include breakpoint($bp-ellipsis) {
    display: inline-block;
  }
}

.pager__item--current.pager__item {
  @extend %pager__link;
  background-color: $pager-bg-color;
  color: gesso-grayscale(white);
}

.pager__link {
  @extend %pager__link;
  display: inline-block;
  text-decoration: none;

  &:visited {
    color: gesso-color(text, primary);
  }

  &:hover,
  &:focus {
    background-color: $pager-bg-color-hover;
    color: gesso-grayscale(white);
  }

  &:active {
    background-color: $pager-bg-color-active;
  }
}

.pager__link--previous,
.pager__link--next {
  background-color: transparent;
  color: gesso-color(text, primary);
  position: relative;

  &:hover,
  &:focus {
    background-color: transparent;
    color: gesso-color(text, primary);
    .pager__link-icon g {
      fill: gesso-palette(blue, base);
    }
  }

  &:visited {
    color: gesso-color(text, primary);
  }
}

.pager__item--previous {
  margin-right: rem(gesso-spacing(lg));

  .pager__link {
    padding-left: 32px;
  }
}

.pager__item--next {
  margin-left: rem(gesso-spacing(lg));

  .pager__link {
    padding-right: 32px;
  }
}

.pager__link-icon {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-48%);
  width: 24px;

  g {
    fill: gesso-grayscale(gray-4);
  }

  .pager__item--next & {
    left: auto;
    right: 0;
    transform: translateY(-48%) rotate(180deg);
  }
}
