<div class="l-navigation">
  {% if not unconstrained %}
    <div class="l-constrain">
  {% endif %}
  {% block content %}
    {% include '@components/menus/menu.twig' with {
      'menu_name': 'main',
      'items': [
        { 'title': 'Home', 'url': '#' },
        { 'title': 'About', 'url': '#' },
        { 'title': 'Contact', 'url': '#' },
        { 'title': 'Search', 'url': '#' },
      ]
    } %}
  {% endblock %}
  {% if not unconstrained %}
    </div>
  {% endif %}
</div>
