<article class="node node--type-article node--display-mode-full" role="article">
  <h1 class="node__title">{{ pageTitle }}</h1>
  <footer>
    <div class="node__date">{% include "base-long-datetime" %}</div>
    <div class="node__author"><a href="#">{{ author }}</a></div>
  </footer>
  {{ body | raw }}
</article>
