// @file
// Layout mixins

@mixin layout-align-left($margin) {
  float: left;

  @if $margin {
    margin-right: $margin;
  }
}

@mixin layout-align-right($margin) {
  float: right;

  @if $margin {
    margin-left: $margin;
  }
}

@mixin layout-align-none {
  float: none;
  margin-left: 0;
  margin-right: 0;
}

@mixin layout-constrain(
  $max-width: gesso-constrain(md),
  $margins-mobile: gesso-site-margins(mobile),
  $margins: gesso-site-margins(desktop)
) {
  margin-left: auto;
  margin-right: auto;
  max-width: rem($max-width);

  @if $margins-mobile {
    padding-left: rem($margins-mobile);
    padding-right: rem($margins-mobile);
  }

  @if $margins {
    @include breakpoint(gesso-breakpoint(desktop)) {
      padding-left: rem($margins);
      padding-right: rem($margins);
    }
  }

  // Just in case .l-constrain is nested within another .l-constrain.
  & & {
    padding-left: 0;
    padding-right: 0;
  }
}

// Breaks something outside its parent l-constrain or other centered container and
// makes it flush with the edge of the viewport. Note: you should probably NOT use
// this utility class on elements of a site that adds a max-width to the
// l-site-container wrapper div because those elements would get cropped when
// the viewport is larger than that max-width.
@mixin layout-full-bleed() {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

// Reverses the above.
@mixin layout-undo-full-bleed() {
  left: auto;
  margin-left: 0;
  margin-right: 0;
  position: static;
  right: auto;
  width: auto;
}
