// @file
// Button styles

$button-border-radius: 0 !default;
$button-color-bg: gesso-color(button,primary,bg) !default;
$button-color-bg-active: gesso-color(button,primary,bg-active) !default;
$button-color-bg-disabled: gesso-color(button,disabled,bg) !default;
$button-color-bg-hover: gesso-color(button,primary,bg-hover) !default;
$button-color-text: gesso-color(button,primary,text) !default;
$button-color-text-active: gesso-color(button,primary,text-active) !default;
$button-color-text-disabled: gesso-color(button,disabled,text) !default;
$button-color-text-hover: gesso-color(button,primary,text-hover) !default;
$button-font-size: gesso-base-font-size() !default;

@mixin button(
  $color-bg: $button-color-bg,
  $color-text: $button-color-text,
  $color-bg-hover: $button-color-bg-hover,
  $color-text-hover: $button-color-text-hover,
  $color-bg-active: $button-color-bg-active,
  $color-text-active: $button-color-text-active,
  $color-bg-disabled: $button-color-bg-disabled,
  $color-text-disabled: $button-color-text-disabled,
  $border-radius: $button-border-radius,
  $font-size: $button-font-size) {
  background-color: $color-bg;
  border: 0;
  border-radius: $border-radius;
  color: $color-text;
  cursor: pointer;
  display: inline-block;
  font-family: gesso-font-family(primary);
  font-size: rem($font-size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: gesso-font-weight(bold);
  line-height: gesso-line-height(base);
  padding: rem(gesso-spacing(xsm)) rem(gesso-spacing(sm));
  text-align: center;
  text-decoration: none;
  transition: background gesso-duration(short) gesso-easing(ease-in);
  vertical-align: top;
  white-space: normal;

  &:hover,
  &:focus {
    background-color: $color-bg-hover;
    color: $color-text-hover;
    outline: 0;
  }

  &:active {
    background-color: $color-bg-active;
    color: $color-text-active;
  }

  &[disabled] {
    background-color: $color-bg-disabled;
    color: $color-text-disabled;
    cursor: default;
    pointer-events: none;
  }
}
