// @file
// Styles for tabs menu.

.nav--tabs-primary {
  @extend %nav--pillbox;
  margin-top: 2em;

  @media print {
    display: none;
  }

  .nav__link {
    @extend %system-font-family;
    font-size: rem($font-size-sm);
    line-height: (17px / $font-size-sm);
    padding: rem(8px) rem(16px);
  }
}
