// @file
// Styles for the mobile menu.

$mobile-menu-text-color: #555559 !default;

.mobile-menu-button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: $mobile-menu-text-color;
  display: inline-block;
  font-family: gesso-font-family(system);
  font-size: rem(gesso-font-size(1));
  font-weight: bold;
  height: em(55px);
  line-height: em(55px);
  margin: 0;
  padding: 0 1em;
  text-decoration: none;

  &:focus {
    outline: thin dotted;
  }
}

.mobile-menu-button__icon {
  @include image-replace(22px, 22px);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  display: inline-block;
  margin-top: 1em;
}

.mobile-menu-button__icon--close {
  @include svg-background-inline(mobile-close);
}

.mobile-menu-button__icon--menu {
  @include svg-background-inline(mobile-menu);
  background-size: 33px 22px;
  width: 33px;
}

.mobile-menu-button__icon--search {
  @include svg-background-inline(mobile-search);
}
