// @file
// Universal styles.

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media print {
  @page {
    margin: 2cm;
  }
  * {
    background-color: transparent !important;
    box-shadow: none !important;
    color: gesso-grayscale(black) !important;
    text-shadow: none !important;
  }
}
