// @file
// Styles for fields.

.field {
  margin-bottom: rem(gesso-spacing(2));
}

.field__label {
  @extend %h4;
  display: block;
  margin-bottom: 0;

  &.is-inline {
    @extend %h5;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0.25rem;

    &::after {
      content: ':';
    }

    + .field__content {
      display: inline;
    }
  }
}
