// @file
// Blockquote styles.

blockquote {
  margin: 0 1.5em rem($vertical-spacing);

  cite {
    display: block;
    margin-top: 0.5em;
    &:before {
      content: "\2013";
      margin-right: 0.5em;
    }
  }

  @media print {
    & {
      page-break-inside: avoid;
    }
  }
}
