<details class="details js-details js-form-wrapper" data-drupal-selector="edit-details" id="edit-details" open>
  <summary class="details__summary" role="button" aria-controls="edit-details" aria-expanded="true" aria-pressed="true">Summary</summary>
  <div class="details__content">
    <div class="details__description">Details description</div>
    <p>Details content</p>
  </div>
</details>
