<button class="button button--secondary">Secondary Button</button>
<a href="#" class="button button--secondary">Secondary Button Link</a>
<button class="button button--secondary" disabled>Disabled Secondary Button</button>
