// @file
// Styles for Breadcrumb trail.

.breadcrumb {
  @include clearfix();
  background-color: rgba(gesso-palette(blue, dark-1), 0.85);
  color: gesso-grayscale(white);
  font-size: gesso-font-size(0);
  margin: rem($vertical-spacing) 0;
  min-height: rem(gesso-spacing(lg));
  padding-top: rem(gesso-spacing(sm));
}

.breadcrumb__title {
  @extend %visually-hidden;
}

.breadcrumb__list {
  @include list-inline();
}

.breadcrumb__item {
  margin-right: 0.75em;

  &::after {
    color: gesso-palette(blue, light);
    content: '/';
    margin-left: 0.75em;
  }

  &:last-child::after {
    content: '';
    margin-left: 0;
  }
}

.breadcrumb__link {
  color: gesso-grayscale(gray-3);
  text-decoration: none;
}
