// @file
// Styles for Breadcrumb trail.

.breadcrumb {
  @include clearfix();
  background-color: gesso-color(background, secondary);
  color: gesso-grayscale(white);
  font-size: rem(gesso-font-size(0));
  margin: rem(gesso-spacing(sm)) 0;
  min-height: rem(gesso-spacing(lg));
  padding-top: rem(gesso-spacing(sm));
}

.breadcrumb__title {
  @extend %visually-hidden;
}

.breadcrumb__list {
  @include list-inline();
}

.breadcrumb__item {
  margin-right: 0.75em;

  &::after {
    color: gesso-palette(blue, light-1);
    content: '/';
    margin-left: 0.75em;
  }

  &:last-child::after {
    content: '';
    margin-left: 0;
  }
}

.breadcrumb__list .breadcrumb__item {
  @include breakpoint(max-width gesso-breakpoint(sm)) {
    display: none;
    &:nth-last-child(2) {
      display: block;

      &::after {
        display: none;
      }

      &::before {
        color: gesso-palette(blue, light-1);
        content: '<';
        margin-right: 0.75em;
      }
    }
  }
}

.breadcrumb__link {
  @include link(gesso-grayscale(gray-3), gesso-grayscale(white));
  text-decoration: none;
}
