{% macro readmore(url, title, label = "Read more", description_prefix = "about" ) %}
  <a href="{{url}}" class="readmore-link">
    {{label}}
    <span class="visually-hidden">
      {{description_prefix}}
      {{title}}
    </span>
  </a>
{% endmacro %}


{% macro tag(url, title, type = "full", size = "normal" ) %}
  {% include '@components/tag/tag.twig' with {
    'url': url,
    'title': title,
    'type': type,
    'size': size
  } %}
{% endmacro %}
