.DS_Store
.idea
.vscode
node_modules

## Ignore compiled files
dist/css
dist/js
dist/design-tokens.js
dist/images/backgrounds
dist/images/sprite.artifact.svg
source/00-config/_design-tokens.artifact.scss
source/00-config/_GESSO.es6.js
storybook
