.DS_Store
node_modules
.sass-cache
pattern-lab
source/_data/design-tokens.artifact.yml
source/_patterns/00-config/_design-tokens.artifact.scss
css/*.css
css/*.map
js/src/constants/_GESSO.es6.js
images/sprite.artifact.svg
js/dist/*.js
js/dist/*.map
dependencyGraph.json
.vscode
.idea
vendor
