.DS_Store
node_modules
.sass-cache
pattern-lab
source/00-config/_design-tokens.artifact.scss
source/00-config/_GESSO.es6.js
dependencyGraph.json
.vscode
.idea
design-tokens.js
design-tokens.js.map
/storybook

## Ignore compiled files
dist/js
dist/css
dist/images/backgrounds
sprite.artifact.svg
