<nav role="navigation">
  <h2 class="visually-hidden">User account menu</h2>
  {% spaceless %}
  <ul class="nav nav--account">
    <li class="nav__item"><a class="nav__link" href="#">My Account</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Logout</a></li>
  </ul>
  {% endspaceless %}
</nav>
