// Component: Dropbutton
// Dropbutton is used in the Drupal admin UI.

@use 'sass:math';
@use '00-config' as *;

$dropbutton-toggle-height: rem(44px) !default;
$dropbutton-toggle-width: 2em !default;
$dropbutton-toggle-icon-size: rem(12px) !default;

.c-dropbutton {
  display: inline-block;
  margin-bottom: rem(gesso-spacing(1));
  position: relative;
  vertical-align: top;

  &.has-multiple {
    padding-right: $dropbutton-toggle-width; // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        padding-left: $dropbutton-toggle-width;
        padding-right: 0;
      }
    }
  }

  &.is-open {
    .c-dropbutton__item {
      display: block;

      &:first-child .c-dropbutton__button {
        border-bottom-left-radius: 0;
      }
    }

    .c-dropbutton__toggle-button {
      @include svg-background(dropbutton-arrow-up);
    }
  }

  & + &,
  + .c-button,
  .c-button + & {
    margin-left: 0.5em; // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
  }
}

.c-dropbutton__list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
  }
}

.c-dropbutton__toggle {
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: $dropbutton-toggle-width;
}

.c-dropbutton__toggle-button {
  @include button();
  @include svg-background(dropbutton-arrow-down);
  background-position: 50%
    (
      math.div($dropbutton-toggle-height, 2) -
        math.div($dropbutton-toggle-icon-size, 2)
    );
  background-repeat: no-repeat;
  background-size: $dropbutton-toggle-icon-size;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 100%;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}

.c-dropbutton__item {
  margin: 0;
  padding: 0;

  &.is-secondary-action {
    display: none;

    &:not(:last-child) .c-dropbutton__button {
      border-bottom-left-radius: 0;
    }
  }

  &:not(:first-child) .c-dropbutton__button {
    border-top-left-radius: 0;
  }
}

// Nested to override default button styles.
.c-dropbutton .c-dropbutton__button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  display: block;
  margin: 0;
  text-align: left;
  width: 100%;
}
