{% spaceless %}
<nav class="breadcrumb" role="navigation" aria-labelledby="breadcrumb-label">
  <h2 class="breadcrumb__title" id="breadcrumb-label">You are here</h2>
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Home</a></li>
    <li class="breadcrumb__item"><a class="breadcrumb__link" href="#">Section</a></li>
  </ol>
</nav>
{% endspaceless %}
