// CSS styles and overrides for Pattern Lab only.
// This stylesheet is not loaded by the theme.

@import '_patterns/00-global';

// The container for the 'view all' screen, which contains the list of patterns.
#sg-patterns {
  box-sizing: border-box !important;
	max-width: em($max-page-width);
	padding: 0 ($gutter-width / 2);
}

// hide headers for some Gesso folders
#viewall-global-config,
#viewall-global-tools,
#viewall-base-fonts,
#viewall-base-normalize,
#viewall-base-html-elements,
#viewall-base-extendables,
#viewall-layouts-constrain,
#viewall-components-cms-styles {
    display: none;
}

.sg-subtype {
  h2 {
    font-size: 24px;
    margin: 3em 0 0.25em;
    text-transform: capitalize;
  }
  a {
    color: #666;
    text-decoration: none;
    &:hover, &:focus {
      color: #333;
    }
  }
}

// Color Swatches
.pattern-lab-color-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @include breakpoint(800px) {
    flex-direction: row;
  }

  li {
    display: block;
    width: 100%;
    @include breakpoint(800px) {
      margin: 1% 1% 1% 0;
    }
  }
}

.pattern-lab-color-list__set {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    margin-top: 1.2em;
    width: 100%;
  }
}

.pattern-lab-swatch {
  color: #546673;
  display: block;
  font-size: 32px;
  height: 2.5em;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

}

.pattern-lab-swatch__meta-data {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: .55em;
  transition: 0.2s all;
}

.pattern-lab-swatch__variable {
  display: block;
  font-size: 11px;
}

.pattern-lab-swatch__hex {
  display: block;
  font-size: 14px;
}

.pattern-lab-swatch--light-text {
  color: #fff;
}

// Typography
.pattern-lab-font {
  margin-bottom: 30px;
}

.pattern-lab-font__family {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
  @include breakpoint(800px) {
    text-align: left;
  }
}

.pattern-lab-font__item {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  @include breakpoint(800px) {
    flex-direction: row;
  }
}

.pattern-lab-font__preview {
  border-bottom: 2px solid #eee;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 20px 0 20px 0;
  text-align: center;
  width: 100%;
  @include breakpoint(800px) {
    border-bottom: none;
    border-right: 2px solid #eee;
    margin: 5px 30px 0 0;
    padding: 0 20px 0 20px;
    text-align: left;
    width: 65%;
  }
}

.pattern-lab-font__preview-character {
  font-size: 90px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  width: 100%;
  @include breakpoint(800px) {
    text-align: left;
    width: 25%;
  }
}

.pattern-lab-font__preview-meta {
  text-align: center;
  width: 100%;
  @include breakpoint(800px) {
    text-align: left;
  }
}

.pattern-lab-font__label {
  color: #999;
}

.pattern-lab-font__name {
  color: #565454;
  font-size: .9rem;
  line-height: 1.5;
  margin: 5px 0;
}

.pattern-lab-font__weight {
  color: #000;
  font-size: 13px;
  margin-bottom: 5px;
}

.pattern-lab-font__style {
  color: #000;
  font-size: 13px;
  margin-bottom: 5px;
}
