// @file
// Styles for list.
@use '../../00-config/mixins/mixins.list' as *;

.list--border {
  @include list-border();
}

.list--clean {
  @include list-clean();
}

.list--column {
  @include list-column();
}

.list--inline {
  @include list-inline();
}

.list--pipeline {
  @include list-pipeline();
}
