{% set classes = [
  'list',
  modifier_classes ? modifier_classes : '',
] %}

<ul {{ add_attributes({class: classes}) }}>
  {% for item in list %}
    <li>{{ item.content }}</li>
  {% endfor %}
</ul>
