<header class="l-header" role="banner">
  {% if has_constrain %}
    <div class="{{ constrain_classes ?: 'l-constrain' }}">
  {% endif %}
  {% block content %}
    Header Region Content
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</header>
