<div class="l-preface">
  {% if has_constrain %}
    <div class="{{ constrain_classes ?: 'l-constrain' }}">
  {% endif %}
  {% block content %}
    Preface Region Content
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</div>
