// Component: Hero with Background Image

@use '00-config' as *;

$hero-bg-image-bp: gesso-breakpoint(desktop) !default;

.c-hero-bg-image {
  color: gesso-color(text, on-dark);
  overflow: hidden;
  padding: rem(gesso-spacing(12)) 15%;
  position: relative;
  text-align: center;

  > img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.has-overlay {
    &::after {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.c-hero-bg-image__content {
  position: relative;
  z-index: 2;
}

.c-hero-bg-image__title {
  @include display-text-style(display);
  color: gesso-color(text, on-dark);
  margin-bottom: rem(gesso-spacing(5));

  @include breakpoint-max($hero-bg-image-bp, true) {
    font-size: rem(gesso-font-size(8));
    margin-bottom: rem(gesso-spacing(3));
  }
}

.c-hero-bg-image__summary {
  @include display-text-style(body-large);
  color: gesso-color(text, on-dark);
  margin-bottom: rem(gesso-spacing(5));

  @include breakpoint-max($hero-bg-image-bp, true) {
    font-size: rem(gesso-font-size(3));
    margin-bottom: rem(gesso-spacing(3));
  }
}

.c-hero-bg-image--left {
  text-align: left;

  @include breakpoint($hero-bg-image-bp) {
    padding-left: 10%;
    padding-right: 35%;
  }
}

.c-hero-bg-image--right {
  text-align: left;

  @include breakpoint($hero-bg-image-bp) {
    padding-left: 35%;
    padding-right: 10%;
  }
}
