<nav role="navigation" aria-labelledby="pagination-heading">
  <h2 id="pagination-heading" class="visually-hidden">Pagination</h2>
  <ul class="pager js-pager__items">
    {% spaceless %}
      <li class="pager__item pager__item--first">
        <a class="pager__link pager__link--first" href="#" title="Go to first page">
          <span class="visually-hidden">First page</span>
          <span aria-hidden="true">|«</span>
        </a>
      </li>
      <li class="pager__item pager__item--previous">
        <a class="pager__link pager__link--previous" href="#" title="Go to previous page" rel="prev">
          <span class="visually-hidden">Previous page</span>
          <span aria-hidden="true">‹</span>
        </a>
      </li>
      <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
      <li class="pager__item">
        <a class="pager__link" href="#">
          <span class="visually-hidden">Page&nbsp;</span>
          2
        </a>
      </li>
      <li class="pager__item">
        <a class="pager__link" href="#">
          <span class="visually-hidden">Page&nbsp;</span>
          3
        </a>
      </li>
      <li class="pager__item">
        <a class="pager__link" href="#">
          <span class="visually-hidden">Page&nbsp;</span>
          4
        </a>
      </li>
      <li class="pager__item">
        <a class="pager__link" href="#">
          <span class="visually-hidden">Page&nbsp;</span>
          5
        </a>
      </li>
      <li class="pager__item pager__item--current">
        <span class="visually-hidden">Currently on page&nbsp;</span>
        6
      </li>
      <li class="pager__item">
        <a class="pager__link" href="#">
          <span class="visually-hidden">Page&nbsp;</span>
          7
        </a>
      </li>
      <li class="pager__item">
        <a class="pager__link" href="#">
          <span class="visually-hidden">Page&nbsp;</span>
          8
        </a>
      </li>
      <li class="pager__item">
        <a class="pager__link" href="#">
          <span class="visually-hidden">Page&nbsp;</span>
          9
        </a>
      </li>
      <li class="pager__item">
        <a class="pager__link" href="#">
          <span class="visually-hidden">Page&nbsp;</span>
          10
        </a>
      </li>
      <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
      <li class="pager__item pager__item--next">
        <a class="pager__link pager__link--next" href="#" title="Go to next page" rel="next">
          <span class="visually-hidden">Next page</span>
          <span aria-hidden="true">›</span>
        </a>
      </li>
      <li class="pager__item pager__item--last">
        <a class="pager__link pager__link--last" href="#" title="Go to last page">
          <span class="visually-hidden">Last page</span>
          <span aria-hidden="true">»|</span>
        </a>
      </li>
    {% endspaceless %}
  </ul>
</nav>
