// @file
// Unordered list styles.

ul {
  list-style-type: disc;
  margin: 0 0 rem($vertical-spacing);
  padding: 0 0 0 1.2em; // LTR

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding: 0 1.2em 0 0;
    }
  }

  ol,
  ul {
    margin: rem($vertical-spacing / 2) 0 0;
  }
}
