// @file
// Extendable font families

%system-font-family {
  font-family: gesso-font-family(system);
}

%primary-font-family {
  font-family: gesso-font-family(primary);
}

%monospace-font-family {
  font-family: gesso-font-family(monospace);
}
