// @file
// Extendable font families

%system-font-family {
  font-family: gesso-font-family(system);
}

%base-font-family {
  font-family: gesso-font-family(base);
}

%header-font-family {
  font-family: gesso-font-family(alternate);
}

%monospace-font-family {
  font-family: gesso-font-family(monospace);
}
