<div class="pattern-lab__easing-wrapper">
  <div class="pattern-lab__help-text">
    (Hover to demo easing)
  </div>
  <div class="pattern-lab__easing-group">
    <div class="pattern-lab__easing-item">
      {% for label, ease in gesso.transitions.ease %}
        {% set ease_style = 'transiton-timing-function: '~ ease ~';' %}
        <div class="pattern-lab__easing-label">
          {{label}}
        </div>
        <div class="pattern-lab__easing-indicator" style="{{ease_style}}"></div>
      {% endfor %}
    </div>
  </div>
</div>
