// @file
// Layout variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

@include breakpoint-set('to ems', true);
$layout-max-width-page: 900px;
$layout-gutter-width: 2em;

// Default Breakpoints
$layout-bp-small: 600px;
$layout-bp-medium: 800px;
$layout-bp-large: 900px;
$layout-bp-xlarge: 1200px;

// Mobile Breakpoint
$bp-hide-mobile-menu: 700px;

$layout-z-index: (
  skiplinks: 999,
  modal: 200,
  navigation: 100,
  level-3: 3,
  level-2: 2,
  level-1: 1,
  default: 0,
  below: -1,
);

$layout-breakpoint-typography: (
  null: 0,
  tablet: 700px,
  desktop: 1200px,
  mega: 1600px,
);
