<fieldset class="fieldset fieldset--radios" aria-describedby="edit-radios-description">
  <legend class="fieldset__legend">
    <span class="fieldset__legend-text">Radios</span>
  </legend>
  <div class="fieldset__content">
    <div class="form-item form-item--radios">
      {% include "components-form-item--radio"
        with {
          radioOptionLabel: "Option One"
        }
      %}
      {% include "components-form-item--radio"
        with {
          radioOptionLabel: "Option Two"
        }
      %}
      {% include "components-form-item--radio"
        with {
          radioOptionLabel: "Option Three"
        }
      %}
      {% include "components-form-item--radio"
        with {
          radioOptionLabel: "Option Four"
        }
      %}
      {% include "components-form-item--radio"
        with {
          radioOptionLabel: "Disabled Option",
          radioOptionDisabled: true
        }
      %}
    </div>
    <div class="fieldset__description" id="edit-radios-description">
      <p>The description for this form field.</p>
    </div>
  </div>
</fieldset>
