<div class="l-flex-media {{ flex_modifier_classes }}">
  <div class="l-flex-media__media">{{ flex_media }}</div>
  <div class="l-flex-media__content">{{ flex_content }}</div>
</div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae necessitatibus fuga provident aut.