// Component: Icon

@use '00-config' as *;

.c-icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  position: relative;
  top: -2px;
  transition: none;
  vertical-align: middle;
  width: 1em;

  // Fixes delayed transitions in Chrome.
  * {
    transition: none;
  }

  &.is-spaced-before {
    margin-left: 0.25em;

    @if $support-for-rtl {
      [dir='rtl'] & {
        margin-left: 0;
        margin-right: 0.25em;
      }
    }
  }

  &.is-spaced-after {
    margin-right: 0.25em;

    @if $support-for-rtl {
      [dir='rtl'] & {
        margin-left: 0.25em;
        margin-right: 0;
      }
    }
  }

  &.is-down {
    transform: rotate(180deg);
  }

  &.is-left {
    transform: rotate(270deg);
  }

  &.is-right {
    transform: rotate(90deg);
  }
}
