{% set classes = [
  'c-icon',
  direction ? 'is-' ~ direction : '',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% apply spaceless %}
  <svg {{ add_attributes({ 'class': classes }) }} role="img"{% if label is empty or is_hidden %} aria-hidden="true"{% endif %}>
    {% if label %}<title>{{ label }}</title>{% endif %}
    <use href="{{ image_path }}/sprite.artifact.svg#{{ icon_name }}"></use>
  </svg>
{% endapply %}
