// @file
// color variables
// http://sass-lang.com/docs/yardoc/file.sass_reference.html#variables_


//*******************************************
// COLOR PALETTES
//*******************************************
//** Primary Palette
$blue: #0071bc;
$blue-light: #4773aa;
$blue-light-1: #8ba6ca;
$blue-light-2: #dce4ef;
$blue-dark: #205493;
$blue-dark-1: #112E51;

//** Secondary Palette
$red: #e31c3d;
$red-light: #e59393;
$red-light-1: #f9dede;
$red-dark: #cd2026;
$red-dark-1: #981b1e;

$ocean-blue: #02bfe7;
$ocean-blue-light: #9bdaf1;
$ocean-blue-light-1: #e1f3f8;
$ocean-blue-dark: #00a6d2;
$ocean-blue-dark-1: #046b99;

//** Tertiary Palette
$gold: #fdb81e;
$gold-light: #f9c642;
$gold-light-1: #fad980;
$gold-light-2: #fff1d2;

$green: #2e8540;
$green-light: #4aa564;
$green-light-1: #94bfa2;
$green-light-2: #e7f4e4;

//** State Palette
$purple: #4c2c92;
$blue-focus: #3d94d0;

//** Grayscale
$color-white: #fff;
$color-grayscale-1: #f1f1f1;
$color-grayscale-2: #d6d7d9;
$color-grayscale-3: #aeb0b5;
$color-grayscale-4: #5b616b;
$color-grayscale-5: #323a45;
$color-black: #212121;

//*******************************************
// GRADIENTS
//*******************************************


//*******************************************
// TEXT
//*******************************************

//** Body Text Section
$color-text-primary: $color-black;
$color-text-secondary: $color-grayscale-4;
$color-text-accent: $blue;
$color-text-on-light: $color-black;
$color-text-on-dark: $color-white;

//** Link Text
$color-text-link: $blue;
$color-text-link-hover: $blue-dark;
$color-text-link-active: $blue-dark-1;
$color-text-link-visited: $purple;

//** Selection Text
$color-text-selection: $color-white;

//** Primary Button Text
$color-text-button-primary: $color-white;
$color-text-button-primary-hover: $color-white;
$color-text-button-primary-focus: $color-white;
$color-text-button-primary-active: $color-white;
$color-text-button-primary-disabled: $color-grayscale-3;

//** Secondary Button Text
$color-text-button-secondary: $blue;
$color-text-button-secondary-hover: $blue-dark;
$color-text-button-secondary-focus: $blue-dark;
$color-text-button-secondary-active: $blue-dark-1;
$color-text-button-secondary-disabled: $color-grayscale-3;

//** Tertiary Button Text
$color-text-button-tertiary: $color-white;
$color-text-button-tertiary-hover: $ocean-blue-light;
$color-text-button-tertiary-focus: $ocean-blue-light;
$color-text-button-tertiary-active: $ocean-blue;
$color-text-button-tertiary-disabled: $color-grayscale-3;

//** Danger Button Text
$color-text-button-danger: $color-white;
$color-text-button-danger-hover: $color-text-button-danger;
$color-text-button-danger-focus: $color-text-button-danger;
$color-text-button-danger-active: $color-text-button-danger;
$color-text-button-danger-disabled: $color-grayscale-3;

//** Input Text
$color-text-input-label: $color-grayscale-4;
$color-text-input: $color-text-primary;
$color-text-input-focus: $color-text-primary;
$color-text-input-disabled: $color-text-primary;
$color-text-input-error: $color-text-primary;
$color-text-input-label: $color-text-primary;

//** Table Text
$color-text-input-label: $color-text-primary;

//*******************************************
// BACKGROUNDS
//*******************************************

//** Base Backgrounds
$color-background-primary: $color-white;
$color-background-secondary: $blue;
$color-background-tertiary: $blue-dark;
$color-background-quaternary: $blue-dark-1;
$color-background-quinary: $color-grayscale-1;
$color-background-light: $color-white;
$color-background-dark: $blue-dark-1;

//** Primary Button Background Section
$color-background-button-primary: $blue;
$color-background-button-primary-hover: $blue-dark-1;
$color-background-button-primary-active: $blue-dark;
$color-background-button-primary-disabled: $color-grayscale-1;

//** Secondary Button Background Section
$color-background-button-secondary: $color-white;
$color-background-button-secondary-hover: $color-background-button-secondary;
$color-background-button-secondary-active: $color-background-button-secondary;
$color-background-button-secondary-disabled: $color-grayscale-1;

//** Tertiary Button Background Section
$color-background-button-tertiary: transparent;
$color-background-button-tertiary-hover: $color-background-button-tertiary;
$color-background-button-tertiary-active: $color-background-button-tertiary;
$color-background-button-tertiary-disabled: $color-grayscale-1;

//** Danger Button Background Section
$color-background-button-danger: $red;
$color-background-button-danger-hover: $red-dark-1;
$color-background-button-danger-active: $red-dark;
$color-background-button-danger-disabled: $color-grayscale-1;

//** Selection Background
$color-background-selection: $blue-dark;

//** Inputs Background
$color-background-input: $color-grayscale-1;
$color-background-input-focus: $color-white;
$color-background-input-disabled: $color-grayscale-1;
$color-background-input-error: $color-grayscale-1;
$color-background-input-hover: $color-white;

//** Table Header Background
$color-background-table-header: $color-grayscale-1;
$color-background-table-cell: $color-white;

//*******************************************
// BORDERS
//*******************************************

//** General UI Border
$color-border-ui: $color-grayscale-3;
$color-border-primary: $color-grayscale-4;
$color-border-secondary: $color-grayscale-2;

//** Primary Button Border
$color-border-button-primary: $blue;
$color-border-button-primary-hover: $blue-dark;
$color-border-button-primary-focus: $blue-dark;
$color-border-button-primary-active: $blue-dark-1;
$color-border-button-primary-disabled: $color-grayscale-1;

//** Secondary Button Border
$color-border-button-secondary: $blue;
$color-border-button-secondary-hover: $blue-dark;
$color-border-button-secondary-focus: $blue-dark;
$color-border-button-secondary-active: $blue-dark-1;
$color-border-button-secondary-disabled: $color-grayscale-1;

//** Tertiary Button Border
$color-border-button-tertiary: $color-white;
$color-border-button-tertiary-hover: $ocean-blue-light;
$color-border-button-tertiary-focus: $ocean-blue-light;
$color-border-button-tertiary-active: $ocean-blue;
$color-border-button-tertiary-disabled: $color-grayscale-1;

//** Danger Button Border
$color-border-button-danger: $red;
$color-border-button-danger-hover: $red;
$color-border-button-danger-focus: $red;
$color-border-button-danger-active: $red;
$color-border-button-danger-disabled: $red;

//** Border Input Section
$color-border-input: $color-grayscale-4;
$color-border-input-hover: $color-grayscale-4;
$color-border-input-focus: $color-grayscale-4;
$color-border-input-disabled: $color-grayscale-4;
$color-border-input-error: $color-grayscale-4;

//*******************************************
// SHADOWS
//*******************************************
$color-box-shadow: $color-black;
