<a href="#{{ top_element }}" class="back-to-top" title="{{ text }}" aria-hidden="true">
  <svg class="back-to-top__icon" role="img" aria-label="{{ text }}">
    <use xlink:href="{{ image_path }}/sprite.artifact.svg#arrow"></use>
  </svg>
</a>
