<div class="l-breadcrumb">
  {% if has_constrain %}
    <div class="{{ constrain_classes ?: 'l-constrain' }}">
  {% endif %}
  {% block content %}
    {% include '@components/breadcrumb/breadcrumb.twig' with {
      'breadcrumb': [
        { 'url': '#', 'text': 'Home' },
        { 'url': '#', 'text': 'About' },
        { 'text': 'Current Page' }
      ]
    } %}
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</div>
