<div class="l-breadcrumb">
  {# l-constrain commented out to accomodate full-bleed default breadcrumb
    component. Add back if necessary, but avoid nesting l-constrains if possible. #}
  {# <div class="l-constrain"> #}
    {% block content %}
      {% include '@components/breadcrumb/breadcrumb.twig' with {
        'breadcrumb': [
          { 'url': '#', 'text': 'Home' },
          { 'url': '#', 'text': 'About' },
          { 'text': 'Current Page' }
        ]
      } %}
    {% endblock %}
  {# </div> #}
</div>
