<article class="node node--type-article node--display-mode-image-teaser" role="article">
  <div class="l-slat">
    <div class="l-slat__media">
      <a href="{{ url }}">{% include "base-thumbnail-image" %}</a>
    </div>
    <div class="l-slat__content">
      <h2 class="node__title"><a href="{{ url }}">{{ title }}</a></h2>
      <div class="node__date">{% include "base-medium-date" %}</div>
      {{ summary | raw }}
    </div>
  </div>
</article>
