{#
  /**
  * @file
  * Component for a Article.
  *
  * Variables:
  * - attributes: [array] HTML attributes for the page
  *   - class: [string] any classed added by user or system 
  */
#}

<article{{- attributes.addClass(classes)|raw -}}>
  <div class="l-constrain">
    {% block title %}
      {{ page_title|raw }}
    {% endblock %}

    <footer>
      {% block footer %}
        {{ page_footer|raw }}
      {% endblock %}
    </footer>

    {% block main %}
      {{ page_content|raw }}
    {% endblock %}
  </div>
</article>
