<div class="l-highlighted">
  {% if not unconstrained %}
    <div class="l-constrain">
  {% endif %}
  {% block content %}

  {% endblock %}
  {% if not unconstrained %}
    </div>
  {% endif %}
</div>
