// @file
// CSS Grid mixins

@mixin css-grid($columns: 0, $gutter: 2em, $item-minwidth: 300px) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(#{$item-minwidth}, 1fr ));
  grid-gap: $gutter;
  margin-left: 0;
  margin-right: 0;

  > * {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  @if $columns > 0 {
    grid-template-columns: repeat($columns, 1fr);
  }
}