// @file
// Layout mixins

@mixin layout-align-left($margin) {
  float: left;
  @if $margin {
    margin-right: $margin;
  }
}

@mixin layout-align-right($margin) {
  float: right;
  @if $margin {
    margin-left: $margin;
  }
}

@mixin layout-align-none {
  float: none;
  margin-left: 0;
  margin-right: 0;
}

@mixin layout-constrain($max-page-width: $max-page-width, $gutter-width: $gutter-width) {
  margin-left: auto;
  margin-right: auto;
  max-width: rem($max-page-width);
  @if $gutter-width {
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
  }
  & & { // just in case .l-constrain is nested within another .l-constrain
    padding-left: 0;
    padding-right: 0;
  }
}
