$border-radius-none: 0;
$border-radius-small: 2px;
$border-radius-medium: 4px;
$border-radius-circle: 50%;
$border-radius-pill: 250px;

$border-radius-base: $border-radius-medium;
$border-radius-button: $border-radius-medium;
