// @file
// Styles for a view.

.view {
  // hides certain table cells on small screens if enabled within the
  // settings of a view using the table format
  table.responsive-enabled {
    @include breakpoint(gesso-breakpoint(tablet), 'max') {
      th.priority-low,
      td.priority-low,
      th.priority-medium,
      td.priority-medium {
        display: none;
      }
    }
    @include breakpoint(gesso-breakpoint(tablet-lg), 'max') {
      th.priority-low,
      td.priority-low {
        display: none;
      }
    }
  }
}

.view__filters {
  margin-bottom: rem(gesso-spacing(2));
}
