<div class="dropbutton js-dropbutton">
  <ul class="dropbutton__list js-dropbutton-list">
    <li class="publish dropbutton__item is-action">
      <input class="button js-form-submit dropbutton__button" value="Primary Action" type="submit">
    </li>
    <li class="unpublish dropbutton__item is-secondary-action">
      <input class="button js-form-submit dropbutton__button" value="Secondary Action" type="submit">
    </li>
    <li class="unpublish dropbutton__item is-secondary-action">
      <input class="button js-form-submit dropbutton__button" value="Another Secondary Action" type="submit">
    </li>
  </ul>
</div>
