// @file
// Universal styles.

* {
  transition-duration: 0.2s;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  transition-timing-function: linear;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media print {
  * {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  @page {
    margin: 2cm;
  }
}
