<header class="header" role="banner">
  <div class="region-header">
    <div class="l-constrain">
      {% include "components-site-name" %}
      {% include "components-site-slogan" %}
    </div>
  </div>
</header>
