<fieldset class="fieldset fieldset--default">
  <legend class="fieldset__legend">
    <span class="fieldset__legend-text">{{ legend }}</span>
  </legend>
  <div class="fieldset__content">
    {{ content }}
    <div class="fieldset__description">
      {{ description }}
    </div>
  </div>
</fieldset>
