<div class="form-item form-item--select">
  <label class="form-item__label" for="edit-select">Select</label>
  <select class="form-item__select" id="edit-select">
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
    <option>Option Four</option>
    <option>Option Five</option>
    <option disabled>Disabled Option</option>
  </select>
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--select">
  <label class="form-item__label" for="edit-select-groups">Select with groups</label>
  <select class="form-item__select" id="edit-select-groups">
    <optgroup label="Group One">
      <option>Option One</option>
      <option>Option Two</option>
      <option>Option Three</option>
    </optgroup>
    <optgroup label="Group Two">
      <option>Option Four</option>
      <option>Option Five</option>
      <option disabled>Disabled Option</option>
    </optgroup>
  </select>
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--select is-disabled">
  <label class="form-item__label" for="edit-select-disabled">Disabled select</label>
  <select class="form-item__select" id="edit-select-disabled" disabled>
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
    <option>Option Four</option>
    <option>Option Five</option>
    <option disabled>Disabled Option</option>
  </select>
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--select is-full-width">
  <label class="form-item__label" for="edit-select-width">Full width select</label>
  <select class="form-item__select" id="edit-select-width">
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
    <option>Option Four</option>
    <option>Option Five</option>
    <option disabled>Disabled Option</option>
  </select>
  <div class="form-item__description">The description for this form field.</div>
</div>
