// @file
// Styles for the primary local tasks menu.

.nav--primary-local-tasks {
  @extend %nav--pillbox;

  @media print {
    display: none;
  }

  .nav__link {
    @extend %system-font-family;
    font-size: rem($font-size-sm);
    line-height: (17px / $font-size-sm);
    padding: rem(8px) rem(16px);
  }
}
