{% set classes = [
  'l-site-container',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<div class="{{ classes }}">
  {% block site_content %}
    {% include '@layouts/_sample-content/sample-content.twig' with {
      'content': 'Site Content',
    } %}
  {% endblock %}
</div>
