{% set classes = [
  'l-site-container',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

{% if pattern_lab and not site_container_content %}
  {% import '@macros/gesso.macro.twig' as macros %}
  {% set site_container_content = macros.sample_content('Site Container Layout Content') %}
{% endif %}

<div class="{{ classes }}">
  {% block site_content %}
    {{ site_container_content }}
  {% endblock %}
</div>
