// @file
// Styles for Article.

// .article {
// }

.article__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: rem(gesso-spacing(sm));
}

.article__footer-separator {
  color: gesso-grayscale(gray-3);
  padding: 0 gesso-spacing(xxsm);
}

// .article--full {
// }
