{% include '@layouts/section/section.twig' with {
  'has_constrain': true,
  'modifier_classes': 'u-spaced-4-above',
  'section_title': 'Pattern Lab',
  'section_content': "<p>This is a style guide and pattern library for " ~ site_name ~ ".</p>"
} %}
