// Includes resets and helper classes.
// Inspiration: http://necolas.github.com/normalize.css
// version 3.0.2

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
  @if support-legacy-browser('ie', '6', '7') {
    *display: inline;
    *zoom: 1;
  }
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

@if support-legacy-browser('ie', '6', '7') {
  // Address font-family inconsistency between textarea and other form elements.
  button,
  input,
  select,
  textarea {
    font-family: $base-font-family;
  }
}

b,
strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: $monospace-font-family;
  font-size: 1em;
  @if support-legacy-browser('ie', '6') {
    _font-family: 'courier new', monospace;
  }
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  @if support-legacy-browser('ie', '6', '7') {
    vertical-align: baseline;
    *vertical-align: middle;
  }
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  @include box-sizing(border-box);
  padding: 0;
  @if support-legacy-browser('ie', '7') {
    *height: 13px;
    *width: 13px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  @include box-sizing(content-box);
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
abbr,
blockquote,
code,
kbd,
q,
samp,
tt,
var {
  @include hyphens(none);
}

img,
input,
textarea,
video {
  height: auto;
  max-width: 100%;
}

embed,
iframe,
object {
  max-width: 100%;
}

::-moz-selection {
  background: $selection-background;
  color: $selection-foreground;
  text-shadow: none;
}

::selection {
  background: $selection-background;
  color: $selection-foreground;
  text-shadow: none;
}
