{% spaceless %}
<nav class="breadcrumb" role="navigation" aria-labelledby="breadcrumb-label">
  {% if heading %}
    <h2 class="breadcrumb__title" id="breadcrumb-label">{{ heading|raw }}</h2>
  {% endif %}
  <ol class="breadcrumb__list">
    {% for item in breadcrumb %}
      <li class="breadcrumb__item">
        {%- if item.url -%}
          <a class="breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
        {%- else -%}
          {{ item.text }}
        {%- endif -%}
      </li>
    {% endfor %}
  </ol>
</nav>
{% endspaceless %}