// Utility: Alignment

@use '00-config' as *;

// Align items
.align-left,
.u-align-left {
  @include breakpoint(gesso-breakpoint(tablet)) {
    float: left;
    margin-right: rem(gesso-get-map(gutter-width));
  }
}

.align-right,
.u-align-right {
  @include breakpoint(gesso-breakpoint(tablet)) {
    float: right;
    margin-left: rem(gesso-get-map(gutter-width));
  }
}

.align-center,
.u-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Text alignment
.text-align-left,
.u-text-align-left {
  text-align: left;
}

.text-align-right,
.u-text-align-right {
  text-align: right;
}

.text-align-center,
.u-text-align-center {
  text-align: center;
}

.text-align-justify,
.u-text-align-justify {
  text-align: justify;
}

// Clear floats
.u-clear-both {
  clear: both;
}

.u-clear-left {
  clear: left;
}

.u-clear-right {
  clear: right;
}
