// @file
// Styles for Grid Layout.

.l-grid {
  @include flex-grid;

  @supports(display:grid) {
    @include css-grid;
  }
}

.l-grid--2col {
  @include flex-grid(2);
  
  @supports(display:grid) {
    @include css-grid(2);
  }  
}

.l-grid--3col {
  @include flex-grid(3);

  @supports(display:grid) {
    @include css-grid(3);
  }
}

.l-grid--4col {
  @include flex-grid(4);

  @supports(display:grid) {
    @include css-grid(4);
  }
}

.l-grid--6col {
  @include flex-grid(6);

  @supports(display:grid) {
    @include css-grid(6);
  }
}