// @file
// List item styles.

li {
  margin-bottom: rem(gesso-spacing(1));

  &:last-child {
    margin-bottom: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  @media print {
    page-break-inside: avoid;
  }
}
