// @file
// List item styles.

li {
  margin-bottom: rem(gesso-spacing(xsm));
  padding-left: rem(gesso-spacing(xsm));

  &:last-child {
    margin-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @media print {
    page-break-inside: avoid;
  }
}
