// @file
// Styles for form fieldsets.

$base-line-height: 1.5;
$vertical-spacing-forms: 2;

$fieldset-color-border: #aeb0b5 !default;
$fieldset-color-legend: #d6d7d9 !default;
$fieldset-legend-offset: rem($base-line-height * $font-size-base) !default;

.fieldset {
  margin-bottom: rem(
    $vertical-spacing-forms + ($base-line-height * $font-size-base)
  );
  padding: 0;
  position: relative;
  top: $fieldset-legend-offset; // Offsets the negative margin of legends.
}

.fieldset__legend {
  box-sizing: content-box;
  display: block;
  left: -1px; // LTR
  position: absolute;
  text-indent: 0;
  top: -$fieldset-legend-offset;
  width: 100%;

  @if $support-for-rtl {
    [dir='rtl'] & {
      left: auto;
      right: -1px;
    }
  }
}

.fieldset__legend-text {
  display: block;
}

.fieldset__legend-link {
  display: block;
}

// .fieldset__content {
// }

.fieldset__description {
  @include display-body-text-small;
  color: $color-text-secondary;

  > :last-child {
    margin-bottom: 0;
  }
}

.fieldset--default {
  background: #fff;
  border: 1px solid $fieldset-color-border;
  // TODO Fix this
  // margin: rem($spacing-scale-level-3 0 (rem($spacing-scale-level-3 + rem(12px))));
  padding: 0 1em;

  .fieldset__legend {
    background: $fieldset-color-legend;
    border: 1px solid $fieldset-color-border;
    border-bottom: 0;
    color: #212121;
    height: 2em;
    line-height: 2;
    padding: 0;
    text-shadow: 0 1px 0 #fff;
  }

  .fieldset__legend-text {
    padding-left: 1em; // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        padding-left: 0;
        padding-right: 1em;
      }
    }
  }

  .fieldset__content {
    margin-top: 2.5em;
  }

  .fieldset__description {
    font-style: italic;
    margin: rem($spacing-scale-level-3) 0;
  }
}
