<fieldset class="fieldset fieldset--default">
  <legend class="fieldset__legend">
    <span class="fieldset__legend-text">Fieldset</span>
  </legend>
  <div class="fieldset__content">
    <p>Fieldset content goes here&hellip;</p>
    <div class="fieldset__description">
      <p>The description for this fieldset.</p>
    </div>
  </div>
</fieldset>
