// @file
// Panels layout: sidebar styles
// Media queries use: http://breakpoint-sass.com
// Media queries use: github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
// Grid via: singularity.gs

.layout-panels-sidebar {
  $grids: 1;
  $grids: add-grid(12 at 700px);
  $gutters: 1;
  @include breakpoint(700px, $no-query: true) {
    &.main.sidebar {
      .layout-main {
        @include grid-span(8,1);
      }
      .layout-sidebar {
        @include grid-span(4,9);
      }
    }
  }
}

.layout-panels-sidebar {
  @include clearfix;
  .layout-preface,
  .layout-main,
  .layout-sidebar {
    @include clearfix;

    @if $panels-admin {
      @include border-box;
    }
  }
}
