<div class="progress" data-drupal-progress>
  <div class="progress__label">Progress bar label</div>
  <div class="progress__track">
    <div class="progress__bar" style="width: 68%"></div>
  </div>
  <div class="progress__percentage">68%</div>
  <div class="progress__description">This is the description for this progress bar.</div>
</div>
