{% include 'layouts-header' %}
{% include 'layouts-navigation' %}
{% include 'layouts-preface' %}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="l-constrain">
    {{ content|raw }}
  </div>
</main>

{% include 'layouts-postscript' %}
{% include 'layouts-footer' %}
