{% include "layouts-header" %}
{% include "layouts-navigation" %}
{% include "layouts-preface" %}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">
    <div class="l-constrain">

      {% include "components-page" %}

    </div>

  </div>
</main>

{% include "layouts-postscript" %}
{% include "layouts-footer" %}
