{% set constrain_classes = [
  'l-constrain',
  constrain_modifier_classes ? constrain_modifier_classes,
]|join(' ')|trim %}

<div class="l-breadcrumb">
  {% if has_constrain %}
    <div class="{{ constrain_classes }}">
  {% endif %}
  {% block content %}
    Breadcrumb Content
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</div>
