// @file
// Box-sizing: border-box

@mixin border-box {
  box-sizing: border-box;

  // Courtesy of Zen Grids. Modified a bit.
  @if $legacy-support-for-ie7 {
    @if $box-sizing-polyfill-path == '' {
      @warn 'IE legacy support is on, but the $box-sizing-polyfill-path is empty.';
    }
    @if $box-sizing-polyfill-path != '' {
      *box-sizing: content-box;
      *behavior: url($box-sizing-polyfill-path);
    }
  }
}
