// @file
// Clearfix

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin clearfix-important {
  &::after {
    clear: both !important;
    content: '' !important;
    display: table !important;
  }
}
