// @file
// Styles for constraining the page width.

//Page width variables
$max-page-width: 1200px !default;
$global-max-page-width: 2500px !default;

@mixin constrain($width: rem($max-page-width), $padding: true) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;

  @if $padding {
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
  }
}

@mixin constrain--break {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.l-constrain {
  @include constrain;
}

.l-constrain--global {
  @include constrain(rem($global-max-page-width), false);
}

//Use with .l-constrain to remove padding
.l-constrain--no-padding {
  padding-left: 0;
  padding-right: 0;
}

.l-constrain--break {
  @include constrain--break;
}
