// @file
// Constrain mixins

@mixin constrain($width: rem($max-page-width), $padding: ($gutter-width / 2 )) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;

  @if $padding {
    padding-left: $padding;
    padding-right: $padding;
  }
}

@mixin break-constrain {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
