<div class="l-content">
  {% if has_constrain %}
    <div class="{{ constrain_classes ?: 'l-constrain' }}">
  {% endif %}
  {% block content %}

  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</div>
