// @file
// Styles for Inline Form layout.

.l-inline-form {
  > * {
    margin: 0 0 rem(gesso-spacing(2)) !important;

    @include breakpoint(gesso-breakpoint(tablet)) {
      display: inline-block;
      margin-right: rem(gesso-spacing(2)) !important;
      vertical-align: bottom;

      &:last-child {
        margin-right: 0;
      }
    }

    > * {
      margin: 0 !important;
    }
  }
}
