// @file
// Styles for constraining the page width.

.l-constrain {
  margin-left: auto;
  margin-right: auto;
  max-width: em($max-page-width);
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
}

.l-constrain--no-padding {
  padding-left: 0;
  padding-right: 0;
}
