// @file
// Styles for layout elements

.layout-constrain {
  margin-left: auto;
  margin-right: auto;
  max-width: em($max-page-width);
  padding-left: 1em;
  padding-right: 1em;

  @if $breakpoint-no-queries {
    width: em($max-page-width);
  }
}
