// @file
// Styles for constraining the page width.

@mixin constrain($width: em($max-page-width), $padding: true) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;

  @if $padding {
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
  }
}

.l-constrain {
  @include constrain;
}

.l-constrain--global {
  @include constrain(em(2500px), false);
}

.l-constrain--no-padding {
  @include constrain(em($max-page-width), false);
}
