// @file
// Generic grid styles.

$gutter: $gutter-width / 2;

.l-grid {
  // So .l-grid__row negative margins don’t create horizontal scrollbar.
  overflow: hidden;
}

.l-grid__row {
  @extend %clearfix;
  margin-left: -$gutter-width;
  margin-right: -$gutter-width;
}

.l-grid__column {
  float: left;
  padding: 0 $gutter-width;
  width: 100%;
}

.l-grid--cols-2 .l-grid__column {
  width: percentage(1/2);
}

.l-grid--cols-3 .l-grid__column {
  width: percentage(1/3);
}

.l-grid--cols-4 .l-grid__column {
  width: percentage(1/4);
}

.l-grid--cols-5 .l-grid__column {
  width: percentage(1/5);
}

.l-grid--cols-6 .l-grid__column {
  width: percentage(1/6);
}
