// @file
// Styles for layout elements

.layout-constrain {
  margin: 0 auto;
  max-width: em($max-page-width);
  padding: 0 1em;

  @if $breakpoint-no-queries {
    width: em($max-page-width);
  }
}
