// @file
// Styles for the sidebar layout.

$l-sidebars-bp: 700px;

.l-sidebars {
  @include breakpoint($l-sidebars-bp) {
    display: flex;
    flex-wrap: wrap;
  }
}

[class^="l-sidebars__"] {
  flex-grow: 1;
}

.l-sidebars__full {
  flex-basis: 100%;
}

.l-sidebars__main {
  flex-basis: 50%;
}

.l-sidebars__sidebar {
  flex-basis: 25%;
}
