// @file
// Styles for the sidebar layout.

$l-sidebars-bp: 700px;

.l-sidebar {
  @include breakpoint($l-sidebars-bp) {
    display: flex;
    flex-wrap: wrap;
  }
}

[class^="l-sidebar__"] {
  flex-grow: 1;
}

.l-sidebar__full {
  flex-basis: 100%;
}

.l-sidebar__main {
  flex-basis: 50%;
}

.l-sidebar__sidebar {
  flex-basis: 25%;
}
