// @file
// Styles for the slat layout.

$bp-first: 600px, 'no-query' true;
$gutter: 1em;

.layout-slat {
  @extend %clearfix;
}

.layout-slat__media {
  margin: 0;
  padding: 0 0 1em;

  @include breakpoint($bp-first) {
    float: left;
    padding-right: $gutter;
  }

  &:empty {
    padding: 0;
  }

  a,
  img {
    display: block;
  }
}

.layout-slat__content {
  display: table-cell;
  width: 10000px;
}

.layout-slat--reversed {
  .layout-slat__media {
    @include breakpoint($bp-first) {
      float: right;
      padding-left: $gutter;
      padding-right: 0;
    }
  }
}
