<article class="node node--type-article node--display-mode-teaser" role="article">
  <h2 class="node__title"><a href="{{ url }}">{{ title }}</a></h2>
  <div class="node__date">{% include "base-medium-date" %}</div>
  {{ summary | raw }}
</article>
