// Layout: Media Object

@use '00-config' as *;
$media-gutter: rem(gesso-spacing(2));

.l-media {
  display: flex;
  flex-direction: column;

  @include breakpoint(gesso-breakpoint(tablet)) {
    flex-direction: row;
  }
}

.l-media__object {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 $media-gutter 0 0;
}

.l-media__content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.l-media--column {
  flex-direction: column;
}

.l-media--reversed {
  > .l-media__object {
    margin: 0 0 0 $media-gutter;
    order: 1;
  }
}
