{% set classes = [
  'l-media',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<div {{ add_attributes({ 'class': classes }) }}>
  {% if media %}
    <div class="l-media__object">{{ media }}</div>
  {% endif %}
  <div class="l-media__content">{{ media_content }}</div>
</div>
