// @file
// Styles for form items.

// COMPONENT VARIABLES
$form-item-background-color-active: $color-background-primary !default;
$form-item-background-color-disabled: $color-grayscale-1 !default;
$form-item-background-color: $color-grayscale-1 !default;
$form-item-border-color-active: $color-grayscale-4 !default;
$form-item-border-color-disabled: $color-grayscale-2 !default;
$form-item-border-color: $color-grayscale-2 !default;
$form-item-box-shadow-focus: 0 0 3px #3e94cf, 0 0 7px #3e94cf !default;
$form-item-range-thumb-border-color: $color-grayscale-1 !default;
$form-item-range-thumb-border-radius: rem(3px) !default;
$form-item-range-thumb-border-width: 1px !default;
$form-item-range-thumb-color: $color-grayscale-3 !default;
$form-item-range-thumb-height: 44px !default;
$form-item-range-thumb-width: 22px !default;
$form-item-range-track-border-color: $color-grayscale-3 !default;
$form-item-range-track-border-width: 1px !default;
$form-item-range-track-color: $color-grayscale-4 !default;
$form-item-range-track-height: 10px !default;
$form-item-select-arrow-size: 13px !default;
$form-item-text-color: $color-text-secondary !default;
$form-item-text-size: $font-size-md !default;

.form-item {
  margin: 0 0 rem($vertical-spacing-forms);
}

.form-item__label {
  display: block;

  .is-disabled > & {
    color: $form-item-text-color;
  }
}

.form-item__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-item__legend {}

.form-item__description {
  color: $form-item-text-color;
  font-size: rem($font-size-sm);

  > :last-child {
    margin-bottom: 0;
  }
}

.form-item__required-marker::before {
  content: '*';
}

%form-item__box,
.form-item__color,
.form-item__date,
.form-item__email,
.form-item__month,
.form-item__number,
.form-item__password,
.form-item__search,
.form-item__select,
.form-item__tel,
.form-item__text,
.form-item__textarea,
.form-item__time,
.form-item__url,
.form-item__week {
  appearance: none;
  background-color: $form-item-background-color;
  border: 1px solid $form-item-border-color;
  border-radius: 0;
  display: inline-block;
  font-size: rem($form-item-text-size);
  height: rem(44px);
  line-height: (22px / $form-item-text-size);
  padding: em(10px, $form-item-text-size) em(7px, $form-item-text-size);
  margin: 0.2em 0;
  max-width: 100%;

  &:focus {
    box-shadow: $form-item-box-shadow-focus;
    outline: 0;
  }

  &:disabled {
    background: $form-item-background-color-disabled;
    border-color: $form-item-border-color-disabled;
    cursor: default;
  }

  .is-full-width > & {
    width: 100%;
  }
}

.form-item__textarea {
  height: auto;
}
