// external link icon styling
svg.ext {
  fill: currentColor;
  height: 0.9em;
  margin-block-end: 0.2em;
  margin-inline-end: -0.15em;
  margin-inline-start: 0.1em;
  padding-inline-end: 0;
  width: 0.9em;

  path {
    stroke: currentColor;
  }
}
