// @file
// Styles for the admin menu toolbar.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
@import 'breakpoint-sass/stylesheets/breakpoint'; // github.com/Team-Sass/breakpoint
@include breakpoint-set('no queries', false);
@include breakpoint-set('no query fallbacks', false);
@import '../partials/global';

#admin-menu {
  .admin-menu-icon {
    height: 26px;
    margin: 0;
    padding: 0;

    > a {
      display: block;
      margin: 0;
      padding: 0 0.25em;

      > span {
        @include image-replace(26px, 20px);
        @include svg-background(home,'../../images/bg/');
        background-position: 0 0;
        background-repeat: no-repeat;
        display: block;
      }
    }

    > .dropdown {
      margin-top: 7px;
    }
  }

  .shortcut-toggle {
    @include image-replace(27px, 27px);
    background: #555;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    bottom: -0.5em;
    cursor: pointer;
    float: right;
    margin: 0 0 0 1em;
    padding: 0;
    position: relative;
    right: 0; // LTR

    &:before {
      border: 1em solid transparent;
      border-top-color: #fff;
      bottom: 1em;
      content: "";
      display: block;
      font-size: 4px;
      height: 0;
      left: 50%;
      margin-left: -1em;
      position: absolute;
      width: 0;
    }

    &.is-active:before {
      border-bottom-color: #fff;
      border-top-color: transparent;
      bottom: 2.25em;
    }
  }

  .shortcut-toolbar {
    @include clearfix;
    background-color: #555;
    clear: both;
    display: none;
    margin: 0 -1em;
    padding: 0.5em 1em;
    position: relative;
    top: 0.5em;
    z-index: 1;

    &.is-active {
      display: block;
    }

    #edit-shortcuts {
      float: right;
    }

    a {
      border: 2px solid transparent;
      border-radius: 1em;
      color: #fff;
      display: block;
      margin: 0;
      outline: 0;
      padding: 0 0.75em;
      text-decoration: none;

      &:hover,
      &.is-active {
        background-color: #000;
      }

      &:focus {
        background-color: #000;
        border-color: #ccc;
      }
    }
  }

  .toolbar-shortcuts {
    ul {
      float: left;
      margin: 0;
      padding: 0;

      li {
        float: left;
        list-style-image: none;
        list-style-type: none;
      }
    }
  }
}
