// @file
// Styles for the admin shortcuts.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
@import 'breakpoint-sass/stylesheets/breakpoint'; // github.com/Team-Sass/breakpoint
@include breakpoint-set('no queries', false);
@include breakpoint-set('no query fallbacks', false);
@import '../partials/global';

#edit-shortcuts {
  float: right; // LTR

  @if $support-for-rtl {
    [dir="rtl"] & {
      float: left;
    }
  }
}
