.tag {
  @include link(
    gesso-palette(ocean-blue, dark),
    gesso-palette(ocean-blue, dark),
    gesso-palette(ocean-blue, dark-1)
  );
  border: 2px solid gesso-palette(ocean-blue, base);
  border-radius: 70px;
  display: inline-block;
  font-size: gesso-font-size(0);
  margin: 0 0 rem(gesso-spacing(xsm)) 0;
  padding: 0.25em 1.65em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow gesso-duration(short) gesso-easing(easeIn);

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px gesso-palette(ocean-blue, base);
    outline: 0;
  }
}