$tag-border-color: gesso-palette(ocean-blue, base) !default;
$tag-link-color: gesso-palette(ocean-blue, dark) !default;
$tag-link-active-color: gesso-palette(ocean-blue, dark-1) !default;

.tag {
  @include link(
    $tag-link-color,
    $tag-link-color,
    $tag-link-active-color
  );
  border: 2px solid $tag-border-color;
  border-radius: 70px;
  display: inline-block;
  font-size: rem(gesso-font-size(0));
  margin: 0 0 rem(gesso-spacing(xsm)) 0;
  padding: 0.25em 1.65em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow gesso-duration(short) gesso-easing(ease-in);

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px $tag-border-color;
    outline: 0;
  }
}