$animation-timing-none: 0;
$animation-timing-fast: 200ms;
$animation-timing-medium: 400ms;
$animation-timing-slow: 800ms;

// Common Easing functions
// https://easings.net/
$animation-easing-quint-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$animation-easing-quint-out: cubic-bezier(0.23, 1, 0.32, 1);
$animation-easing-quint-inout: cubic-bezier(0.86, 0, 0.07, 1);

$animation-ease-default: $animation-easing-quint-out;
