// @file
// Styles for Cards.
$card-padding: $spacing-scale-level-3;

.card {
  @include box-shadow(1);
  display: flex;
  flex-direction: column;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: $card-padding * 1.5 $card_padding;
}

.card__content {
  margin-bottom: $card_padding * 0.5;
}

.card__media {
  order: -1;
  img {
    width: 100%;
  }
}

.card__footer {
  margin-top: auto;
}
