{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 */
#}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="nav nav--primary-local-tasks">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="nav nav--secondary-local-tasks">{{ secondary }}</ul>
{% endif %}
