// @file
// Styles for Drupal messages.

$message-background-color: gesso-color(ui, generic, background-light) !default;
$message-border-color: gesso-color(ui, generic, border) !default;
$message-error-background-color: gesso-color(ui, error, background) !default;
$message-error-border-color: gesso-color(ui, error, border) !default;
$message-status-background-color: gesso-color(ui, success, background) !default;
$message-status-border-color: gesso-color(ui, success, border) !default;
$message-warning-background-color: gesso-color(ui, warning, background) !default;
$message-warning-border-color: gesso-color(ui, warning, border) !default;

.message {
  @include vertical-spacing(rem(gesso-spacing(2)));
  background-color: $message-background-color;
  border: 1px solid $message-border-color;
  color: gesso-color(text, primary);
  overflow: hidden;
  padding: rem(gesso-spacing(2));
  position: relative;
  word-wrap: break-word;

  &::before {
    background-repeat: no-repeat;
    background-size: em(52px);
    bottom: -0.5em;
    content: '';
    display: block;
    height: em(52px);
    position: absolute;
    right: -0.5em;
    transform: rotate(-20deg);
    width: em(52px);
    @media print {
      display: none !important;
    }
  }

  a {
    color: gesso-color(text, secondary);
    font-weight: gesso-font-weight(semibold);
    text-decoration: underline;
  }

}

// .message__content {}

.message--status {
  background-color: $message-status-background-color;
  border-color: $message-status-border-color;

  &::before {
    @include svg-background(messages-status);
  }
}

.message--error {
  background-color: $message-error-background-color;
  border-color: $message-error-border-color;

  &::before {
    @include svg-background(messages-error);
  }

  .message__item {
    em:first-child {
      font-style: normal;
      font-weight: gesso-font-weight(bold);
    }
  }
}

.message--warning {
  background-color: $message-warning-background-color;
  border-color: $message-warning-border-color;

  &::before {
    @include svg-background(messages-warning);
  }
}
