<div class="l-sidebars">
  <div class="l-sidebars__full">
    <p style="background:#333;color:#fff;padding:1em">Full</p>
  </div>

  <aside class="l-sidebars__sidebar" role="complementary">
    <p style="background:#333;color:#fff;padding:1em">Sidebar</p>
  </aside>

  <div class="l-sidebars__main">
    <p style="background:#333;color:#fff;padding:1em">Main</p>
  </div>

  <aside class="l-sidebars__sidebar" role="complementary">
    <p style="background:#333;color:#fff;padding:1em">Sidebar</p>
  </aside>
</div>
