// @file
// Color variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$primary-text-color: #333;
$secondary-text-color: #555;
$heading-text-color: #333;
$body-color: #fff;
$link-color: blue;
$link-hover-color: green;
$selection-background: blue;
$selection-foreground: #fff;
$gradient-light: rgba(255, 255, 255, 0.1) !default;
$gradient-dark: rgba(0, 0, 0, 0.1) !default;
$border-color: #ccc;
$form-bg-color: #eee;
$form-border-color: #ccc;
