// @file
// Global settings variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$legacy-support-for-ie6: false !default;
$legacy-support-for-ie7: false !default;
$legacy-support-for-ie8: false !default;
$support-for-rtl: true !default;
