// @file
// Typography variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$base-font-size: 16px;
$base-line-height: 24px;
$base-line-height-ratio: $base-line-height / $base-font-size;

// Fonts
$system-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
$base-font-family: $system-font-family;
$header-font-family: $base-font-family;
$monospace-font-family: Consolas, 'Lucida Console', 'Liberation Mono', 'Courier New', monospace, sans-serif;

// Typographic Scale
$font-size: (
  xxl: 26px,
  xl: 22px,
  l: 19px,
  m: $base-font-size,
  s: 14px,
  xs: 12px,
  xxs: 10px
);
