<div class="pattern-lab__color-groups">

  <h4>Brand</h4>

  {% for key, list in gesso.palette.brand %}
    {% set light = {} %}
    {% set dark = {} %}
    {% set base = {} %}
    {% set other = {} %}

    <div class="pattern-lab__color-group">
      {% for color_key, color in list %}

        {% if color_key starts with 'light' %}
          {% set light = light|merge({(color_key) : color}) %}
        {% elseif color_key starts with 'dark' %}
          {% set dark = dark|merge({(color_key) : color}) %}
        {% elseif color_key starts with 'base' %}
          {% set base = base|merge({(color_key) : color}) %}
        {% else %}
          {% set other = other|merge({(color_key) : color}) %}
        {% endif %}

      {% endfor %}

      {% if base|length > 0 %}
        {% for base_key, base_value in base %}
          {% include '@global/_color-item.twig' with  {
                color: base_value,
                name: key ~'-'~ base_key
              } %}
        {% endfor %}
      {% endif %}

      {% if light|length > 0 %}
        {% for light_key, light_value in light %}
          {% include '@global/_color-item.twig' with  {
                color: light_value,
                name: key ~'-'~ light_key
              } %}
        {% endfor %}
      {% endif %}

      {% if dark|length > 0 %}
        {% for dark_key, dark_value in dark %}
          {% include '@global/_color-item.twig' with  {
                color: dark_value,
                 name: key ~'-'~ dark_key
              } %}
        {% endfor %}
      {% endif %}

      {% if other|length > 0 %}
        {% for other_key, other_value in other %}
          {% include '@global/_color-item.twig' with  {
                color: other_value,
                name: key ~'-'~ other_key
              } %}
        {% endfor %}
      {% endif %}

    </div>
  {% endfor %}
</div>

<h4>Grayscale</h4>

<div class="pattern-lab__color-groups">
  <div class="pattern-lab__color-group">
    {% for name, color in gesso.palette.grayscale %}
      {% include '@global/_color-item.twig' with  {
        color: color,
          name: name
      } %}
    {% endfor %}
  </div>
</div>


<h4>Other</h4>

<div class="pattern-lab__color-groups">
  {% for key, list in gesso.palette.other %}
    {% set light = {} %}
    {% set dark = {} %}
    {% set base = {} %}
    {% set other = {} %}

    <div class="pattern-lab__color-group">
      {% for color_key, color in list %}

        {% if color_key starts with 'light' %}
          {% set light = light|merge({(color_key) : color}) %}
        {% elseif color_key starts with 'dark' %}
          {% set dark = dark|merge({(color_key) : color}) %}
        {% elseif color_key starts with 'base' %}
          {% set base = base|merge({(color_key) : color}) %}
        {% else %}
          {% set other = other|merge({(color_key) : color}) %}
        {% endif %}

      {% endfor %}

      {% if base|length > 0 %}
        {% for base_key, base_value in base %}
          {% include '@global/_color-item.twig' with  {
                color: base_value,
                name: key ~'-'~ base_key
              } %}
        {% endfor %}
      {% endif %}

      {% if light|length > 0 %}
        {% for light_key, light_value in light %}
          {% include '@global/_color-item.twig' with  {
                color: light_value,
                name: key ~'-'~ light_key
              } %}
        {% endfor %}
      {% endif %}

      {% if dark|length > 0 %}
        {% for dark_key, dark_value in dark %}
          {% include '@global/_color-item.twig' with  {
                color: dark_value,
                 name: key ~'-'~ dark_key
              } %}
        {% endfor %}
      {% endif %}

      {% if other|length > 0 %}
        {% for other_key, other_value in other %}
          {% include '@global/_color-item.twig' with  {
                color: other_value,
                name: key ~'-'~ other_key
              } %}
        {% endfor %}
      {% endif %}

    </div>
  {% endfor %}
</div>
