<div class="l-slat">
  <div class="l-slat__header">
    <p style="background:#333;color:#fff;padding:1em">Header</p>
  </div>
  <div class="l-slat__media">
    <p style="background:#333;color:#fff;padding:1em">Media</p>
  </div>
  <div class="l-slat__content">
    <p style="background:#333;color:#fff;padding:1em">Content</p>
  </div>
</div>
