{% set classes = [
  'video',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<div {{ add_attributes({ 'class': classes }) }}>
  <iframe src="{{ iframe_src }}" title="{{ iframe_title }}" allowfullscreen frameborder="0"></iframe>
</div>
