{% set classes = [
  'l-header',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

{% set constrain_classes = [
  'l-constrain',
  constrain_modifier_classes ? constrain_modifier_classes,
]|join(' ')|trim %}

{% if pattern_lab and not header_content %}
  {% import '@macros/gesso.macro.twig' as macros %}
  {% set header_content = macros.sample_content('Header Layout Content') %}
{% endif %}

<header class="{{ classes }}" role="banner">
  {% if has_constrain %}
    <div class="{{ constrain_classes }}">
  {% endif %}
  {% block content %}
    {{ header_content }}
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</header>
