{% set classes = [
  'l-header',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set constrain_classes = [
  'l-constrain',
  constrain_modifier_classes ? constrain_modifier_classes : '',
]|join(' ')|trim %}

{% if is_demo and not header_content %}
  {% import '@global/gesso.macro.twig' as macros %}
  {% set header_content = macros.sample_content('Header Layout Content') %}
{% endif %}

<header {{ add_attributes({
  'class': classes,
  'role': 'banner'
}) }}>
  {% if has_constrain %}
    <div {{ add_attributes({ 'class': constrain_classes }) }}>
  {% endif %}
  {% block content %}
    {{ header_content }}
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</header>
