/* line 7, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .admin-menu-icon {
  height: 26px;
  margin: 0;
  padding: 0;
}
/* line 12, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .admin-menu-icon > a {
  display: block;
  margin: 0;
  padding: 0 0.25em;
}
/* line 17, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .admin-menu-icon > a > span {
  height: 20px;
  overflow: hidden;
  *text-indent: 110%;
  width: 26px;
  background-image: url('../../images/bg/home.png');
  background-image: -webkit-linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPgo8cGF0aCBmaWxsPSIjZmZmIiBkPSJtMTMsNC05LDYsMCwxMCw3LDAsMC03LDQsMCwwLDcsNywwLDAtMTB6Ii8+CjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik01LDB2NS4zMTI1bC01LDMuMzQzNzUsMSwxLjM0Mzc1LDEyLTgsMTIsOCwxLTEuMzQzNzUtMTMtOC42NTYyNS01LDMuMzQzNzV2LTMuMzQzNzVoLTN6Ii8+Cjwvc3ZnPgo=');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPgo8cGF0aCBmaWxsPSIjZmZmIiBkPSJtMTMsNC05LDYsMCwxMCw3LDAsMC03LDQsMCwwLDcsNywwLDAtMTB6Ii8+CjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik01LDB2NS4zMTI1bC01LDMuMzQzNzUsMSwxLjM0Mzc1LDEyLTgsMTIsOCwxLTEuMzQzNzUtMTMtOC42NTYyNS01LDMuMzQzNzV2LTMuMzQzNzVoLTN6Ii8+Cjwvc3ZnPgo=');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
}
/* line 14, ../../sass/partials/global/helpers/_image-replace.scss */
#admin-menu .admin-menu-icon > a > span:before {
  content: "";
  display: block;
  height: 150%;
  width: 0;
}
/* line 26, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .admin-menu-icon > .dropdown {
  margin-top: 7px;
}
/* line 31, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .shortcut-toggle {
  height: 27px;
  overflow: hidden;
  *text-indent: 110%;
  width: 27px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: #555;
  bottom: -0.5em;
  cursor: pointer;
  float: right;
  margin: 0 0 0 1em;
  padding: 0;
  position: relative;
  right: 0;
}
/* line 14, ../../sass/partials/global/helpers/_image-replace.scss */
#admin-menu .shortcut-toggle:before {
  content: "";
  display: block;
  height: 150%;
  width: 0;
}
/* line 46, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .shortcut-toggle:before {
  border: 1em solid transparent;
  border-top-color: #fff;
  bottom: 1em;
  content: "";
  display: block;
  font-size: 4px;
  height: 0;
  left: 50%;
  margin-left: -1em;
  position: absolute;
  width: 0;
}
/* line 60, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .shortcut-toggle.is-active:before {
  border-bottom-color: #fff;
  border-top-color: transparent;
  bottom: 2.25em;
}
/* line 67, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .shortcut-toolbar {
  *zoom: 1;
  background-color: #555;
  clear: both;
  display: none;
  margin: 0 -1em;
  padding: 0.5em 1em;
  position: relative;
  top: 0.5em;
  z-index: 1;
}
/* line 9, ../../sass/partials/global/helpers/_clearfix.scss */
#admin-menu .shortcut-toolbar:after {
  display: table;
  content: "";
}
/* line 14, ../../sass/partials/global/helpers/_clearfix.scss */
#admin-menu .shortcut-toolbar:after {
  clear: both;
}
/* line 78, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .shortcut-toolbar.is-active {
  display: block;
}
/* line 82, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .shortcut-toolbar #edit-shortcuts {
  float: right;
}
/* line 86, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .shortcut-toolbar a {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  border: 2px solid transparent;
  color: #fff;
  display: block;
  margin: 0;
  outline: 0;
  padding: 0 0.75em;
  text-decoration: none;
}
/* line 97, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .shortcut-toolbar a:hover, #admin-menu .shortcut-toolbar a.is-active {
  background-color: #000;
}
/* line 101, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .shortcut-toolbar a:focus {
  background-color: #000;
  border-color: #ccc;
}
/* line 109, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .toolbar-shortcuts ul {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 114, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .toolbar-shortcuts ul li {
  float: left;
  list-style-image: none;
  list-style-type: none;
}
