#admin-menu .admin-menu-icon {
  height: 26px;
  margin: 0;
  padding: 0;
}
#admin-menu .admin-menu-icon > a {
  display: block;
  margin: 0;
  padding: 0 0.25em;
}
#admin-menu .admin-menu-icon > a > span {
  height: 20px;
  overflow: hidden;
  *text-indent: 110%;
  width: 26px;
  background-image: url('../../images/bg/home.png');
  background-image: -webkit-linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIj4KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTEzIDQtOSA2IDAgMTAgNyAwIDAtNyA0IDAgMCA3IDcgMCAwLTEwek01IDB2NS4zbC01IDMuMyAxIDEuMyAxMi04IDEyIDggMS0xLjMtMTMtOC43LTUgMy4zdi0zLjNoLTN6Ii8+Cjwvc3ZnPgo=');
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIj4KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTEzIDQtOSA2IDAgMTAgNyAwIDAtNyA0IDAgMCA3IDcgMCAwLTEwek01IDB2NS4zbC01IDMuMyAxIDEuMyAxMi04IDEyIDggMS0xLjMtMTMtOC43LTUgMy4zdi0zLjNoLTN6Ii8+Cjwvc3ZnPgo=');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
}
#admin-menu .admin-menu-icon > a > span:before {
  content: "";
  display: block;
  height: 150%;
  width: 0;
}
#admin-menu .admin-menu-icon > .dropdown {
  margin-top: 7px;
}
#admin-menu .shortcut-toggle {
  height: 27px;
  overflow: hidden;
  *text-indent: 110%;
  width: 27px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: #555;
  bottom: -0.5em;
  cursor: pointer;
  float: right;
  margin: 0 0 0 1em;
  padding: 0;
  position: relative;
  right: 0;
}
#admin-menu .shortcut-toggle:before {
  content: "";
  display: block;
  height: 150%;
  width: 0;
}
#admin-menu .shortcut-toggle:before {
  border: 1em solid transparent;
  border-top-color: #fff;
  bottom: 1em;
  content: "";
  display: block;
  font-size: 4px;
  height: 0;
  left: 50%;
  margin-left: -1em;
  position: absolute;
  width: 0;
}
#admin-menu .shortcut-toggle.is-active:before {
  border-bottom-color: #fff;
  border-top-color: transparent;
  bottom: 2.25em;
}
#admin-menu .shortcut-toolbar {
  *zoom: 1;
  background-color: #555;
  clear: both;
  display: none;
  margin: 0 -1em;
  padding: 0.5em 1em;
  position: relative;
  top: 0.5em;
  z-index: 1;
}
#admin-menu .shortcut-toolbar:after {
  display: table;
  content: "";
}
#admin-menu .shortcut-toolbar:after {
  clear: both;
}
#admin-menu .shortcut-toolbar.is-active {
  display: block;
}
#admin-menu .shortcut-toolbar #edit-shortcuts {
  float: right;
}
#admin-menu .shortcut-toolbar a {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border: 2px solid transparent;
  color: #fff;
  display: block;
  margin: 0;
  outline: 0;
  padding: 0 0.75em;
  text-decoration: none;
}
#admin-menu .shortcut-toolbar a:hover, #admin-menu .shortcut-toolbar a.is-active {
  background-color: #000;
}
#admin-menu .shortcut-toolbar a:focus {
  background-color: #000;
  border-color: #ccc;
}
#admin-menu .toolbar-shortcuts ul {
  float: left;
  margin: 0;
  padding: 0;
}
#admin-menu .toolbar-shortcuts ul li {
  float: left;
  list-style-image: none;
  list-style-type: none;
}

/*# sourceMappingURL=admin_menu_toolbar.css.map */
