/* line 6, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .admin-menu-icon {
  height: 25px;
  margin: 0;
  padding: 0;
}
/* line 11, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .admin-menu-icon > a {
  display: block;
  margin: 0;
  padding: 0 0.25em;
}
/* line 16, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .admin-menu-icon > a > span {
  background-color: transparent;
  color: transparent;
  height: 20px;
  overflow: hidden;
  *text-indent: -9999px;
  text-shadow: none;
  width: 26px;
  background-image: url('../../images/bg/home.png');
  background-image: -webkit-linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPgo8cGF0aCBmaWxsPSIjZmZmIiBkPSJtMTMsNC05LDYsMCwxMCw3LDAsMC03LDQsMCwwLDcsNywwLDAtMTB6Ii8+CjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik01LDB2NS4zMTI1bC01LDMuMzQzNzUsMSwxLjM0Mzc1LDEyLTgsMTIsOCwxLTEuMzQzNzUtMTMtOC42NTYyNS01LDMuMzQzNzV2LTMuMzQzNzVoLTN6Ii8+Cjwvc3ZnPgo=');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPgo8cGF0aCBmaWxsPSIjZmZmIiBkPSJtMTMsNC05LDYsMCwxMCw3LDAsMC03LDQsMCwwLDcsNywwLDAtMTB6Ii8+CjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik01LDB2NS4zMTI1bC01LDMuMzQzNzUsMSwxLjM0Mzc1LDEyLTgsMTIsOCwxLTEuMzQzNzUtMTMtOC42NTYyNS01LDMuMzQzNzV2LTMuMzQzNzVoLTN6Ii8+Cjwvc3ZnPgo=');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
}
/* line 16, ../../sass/partials/global/helpers/_image-replace.scss */
#admin-menu .admin-menu-icon > a > span:before {
  content: "";
  display: block;
  height: 150%;
  width: 0;
}
/* line 25, ../../sass/overrides/admin_menu_toolbar.scss */
#admin-menu .admin-menu-icon > .dropdown {
  margin-top: 7px;
}
