/* line 6, ../../sass/overrides/toolbar.scss */
#toolbar {
  background: #555;
  color: #fff;
  font-size: 12px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 501;
}

/* line 17, ../../sass/overrides/toolbar.scss */
#toolbar div.collapsed {
  display: none;
  visibility: hidden;
}

/* line 22, ../../sass/overrides/toolbar.scss */
#toolbar a {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  border: 2px solid transparent;
  color: #fff;
  margin: 0;
  outline: 0;
  padding: 0 0.75em;
  text-decoration: none;
}
/* line 32, ../../sass/overrides/toolbar.scss */
#toolbar a:hover, #toolbar a.is-active {
  background-color: #555;
}
/* line 36, ../../sass/overrides/toolbar.scss */
#toolbar a:focus {
  background-color: #555;
  border-color: #ccc;
}

/* line 42, ../../sass/overrides/toolbar.scss */
#toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 48, ../../sass/overrides/toolbar.scss */
#toolbar ul > li,
#toolbar ul > li > a {
  float: left;
  margin: 0;
}
/* line 52, ../../sass/overrides/toolbar.scss */
[dir="rtl"] #toolbar ul > li, [dir="rtl"]
#toolbar ul > li > a {
  float: right;
}

/* line 57, ../../sass/overrides/toolbar.scss */
#toolbar > .toolbar-menu {
  background: #000;
  line-height: 1.75;
  padding: 0.5em 4em 0.5em 1em;
  position: relative;
}
/* line 63, ../../sass/overrides/toolbar.scss */
[dir="rtl"] #toolbar > .toolbar-menu {
  padding: 0.5em 1em 0.5em 4em;
}

/* line 68, ../../sass/overrides/toolbar.scss */
#toolbar-user {
  float: right;
}
/* line 71, ../../sass/overrides/toolbar.scss */
[dir="rtl"] #toolbar-user {
  float: left;
}

/* line 76, ../../sass/overrides/toolbar.scss */
#toolbar-menu {
  float: left;
}
/* line 79, ../../sass/overrides/toolbar.scss */
[dir="rtl"] #toolbar-menu {
  float: right;
}

/* line 84, ../../sass/overrides/toolbar.scss */
#toolbar-home a {
  padding: 0 0.25em;
}

/* line 88, ../../sass/overrides/toolbar.scss */
#toolbar-home .home-link {
  height: 20px;
  overflow: hidden;
  *text-indent: 110%;
  width: 26px;
  background-image: url('../../images/bg/home.png');
  background-image: -webkit-linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPgo8cGF0aCBmaWxsPSIjZmZmIiBkPSJtMTMsNC05LDYsMCwxMCw3LDAsMC03LDQsMCwwLDcsNywwLDAtMTB6Ii8+CjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik01LDB2NS4zMTI1bC01LDMuMzQzNzUsMSwxLjM0Mzc1LDEyLTgsMTIsOCwxLTEuMzQzNzUtMTMtOC42NTYyNS01LDMuMzQzNzV2LTMuMzQzNzVoLTN6Ii8+Cjwvc3ZnPgo=');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPgo8cGF0aCBmaWxsPSIjZmZmIiBkPSJtMTMsNC05LDYsMCwxMCw3LDAsMC03LDQsMCwwLDcsNywwLDAtMTB6Ii8+CjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik01LDB2NS4zMTI1bC01LDMuMzQzNzUsMSwxLjM0Mzc1LDEyLTgsMTIsOCwxLTEuMzQzNzUtMTMtOC42NTYyNS01LDMuMzQzNzV2LTMuMzQzNzVoLTN6Ii8+Cjwvc3ZnPgo=');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  margin-top: 1px;
}
/* line 14, ../../sass/partials/global/helpers/_image-replace.scss */
#toolbar-home .home-link:before {
  content: "";
  display: block;
  height: 150%;
  width: 0;
}

/* line 97, ../../sass/overrides/toolbar.scss */
#toolbar .toggle {
  height: 25px;
  overflow: hidden;
  *text-indent: 110%;
  width: 25px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: #555;
  border: 0;
  bottom: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 1em;
}
/* line 14, ../../sass/partials/global/helpers/_image-replace.scss */
#toolbar .toggle:before {
  content: "";
  display: block;
  height: 150%;
  width: 0;
}
/* line 111, ../../sass/overrides/toolbar.scss */
#toolbar .toggle:before {
  border: 1em solid transparent;
  border-top-color: #fff;
  bottom: 1em;
  content: "";
  display: block;
  font-size: 4px;
  height: 0;
  left: 50%;
  margin-left: -1em;
  position: absolute;
  width: 0;
}

/* line 126, ../../sass/overrides/toolbar.scss */
#toolbar .toggle-active:before {
  border-bottom-color: #fff;
  border-top-color: transparent;
  bottom: 2.25em;
}

/* line 132, ../../sass/overrides/toolbar.scss */
#toolbar > .toolbar-drawer {
  position: relative;
  padding: 0.5em 1em;
}

/* line 140, ../../sass/overrides/toolbar.scss */
#toolbar > .toolbar-drawer a:focus, #toolbar > .toolbar-drawer a:hover, #toolbar > .toolbar-drawer a.is-active {
  background-color: #000;
}
