#toolbar {
  background: #555;
  color: #fff;
  font-size: 12px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 501;
}

#toolbar div.collapsed {
  display: none;
  visibility: hidden;
}

#toolbar a {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border: 2px solid transparent;
  color: #fff;
  margin: 0;
  outline: 0;
  padding: 0 0.75em;
  text-decoration: none;
}
#toolbar a:hover, #toolbar a.is-active {
  background-color: #555;
}
#toolbar a:focus {
  background-color: #555;
  border-color: #ccc;
}

#toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#toolbar ul > li,
#toolbar ul > li > a {
  float: left;
  margin: 0;
}
[dir="rtl"] #toolbar ul > li, [dir="rtl"]
#toolbar ul > li > a {
  float: right;
}

#toolbar > .toolbar-menu {
  background: #000;
  line-height: 1.75;
  padding: 0.5em 4em 0.5em 1em;
  position: relative;
}
[dir="rtl"] #toolbar > .toolbar-menu {
  padding: 0.5em 1em 0.5em 4em;
}

#toolbar-user {
  float: right;
}
[dir="rtl"] #toolbar-user {
  float: left;
}

#toolbar-menu {
  float: left;
}
[dir="rtl"] #toolbar-menu {
  float: right;
}

#toolbar-home a {
  padding: 0 0.25em;
}

#toolbar-home .home-link {
  height: 20px;
  overflow: hidden;
  *text-indent: 110%;
  width: 26px;
  background-image: url('../../images/bg/home.png');
  background-image: -webkit-linear-gradient(transparent, transparent), url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIj4KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTEzIDQtOSA2IDAgMTAgNyAwIDAtNyA0IDAgMCA3IDcgMCAwLTEwek01IDB2NS4zbC01IDMuMyAxIDEuMyAxMi04IDEyIDggMS0xLjMtMTMtOC43LTUgMy4zdi0zLjNoLTN6Ii8+Cjwvc3ZnPgo=');
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIj4KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTEzIDQtOSA2IDAgMTAgNyAwIDAtNyA0IDAgMCA3IDcgMCAwLTEwek01IDB2NS4zbC01IDMuMyAxIDEuMyAxMi04IDEyIDggMS0xLjMtMTMtOC43LTUgMy4zdi0zLjNoLTN6Ii8+Cjwvc3ZnPgo=');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  margin-top: 1px;
}
#toolbar-home .home-link:before {
  content: "";
  display: block;
  height: 150%;
  width: 0;
}

#toolbar .toggle {
  height: 25px;
  overflow: hidden;
  *text-indent: 110%;
  width: 25px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: #555;
  border: 0;
  bottom: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 1em;
}
#toolbar .toggle:before {
  content: "";
  display: block;
  height: 150%;
  width: 0;
}
#toolbar .toggle:before {
  border: 1em solid transparent;
  border-top-color: #fff;
  bottom: 1em;
  content: "";
  display: block;
  font-size: 4px;
  height: 0;
  left: 50%;
  margin-left: -1em;
  position: absolute;
  width: 0;
}

#toolbar .toggle-active:before {
  border-bottom-color: #fff;
  border-top-color: transparent;
  bottom: 2.25em;
}

#toolbar > .toolbar-drawer {
  position: relative;
  padding: 0.5em 1em;
}

#toolbar > .toolbar-drawer a:focus, #toolbar > .toolbar-drawer a:hover, #toolbar > .toolbar-drawer a.is-active {
  background-color: #000;
}

/*# sourceMappingURL=toolbar.css.map */
