// Storybook: Color Themes

@use '00-config' as *;

.gesso-storybook-color-theme__heading {
  font-family: gesso-font-family(system);
  font-size: 1.25rem;
  line-height: 1.25;
  margin-block-end: 1rem;
}

.gesso-storybook-color-theme__row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @include breakpoint(1002px) {
    flex-wrap: nowrap;
  }
}

.gesso-storybook-color-theme__palette {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: rem(1002px);
}

.gesso-storybook-color-theme__content {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  margin-block-end: 2rem;
  padding: 1rem 0;

  > :last-child {
    margin-block-end: 0;
  }
}

.gesso-storybook-color-theme__icons {
  color: var(--accent-color);
}
