{% set classes = [
  'c-site-name',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<a {{ add_attributes({
  'class': classes,
  'href': url,
  'title': 'Home'|t,
  'rel': 'home'
}) }}>
  <span class="c-site-name__text">{{ site_name }}</span>
</a>
