{{ attach_library('gesso/side_menu') }}
{% set classes = [
  'c-side-menu',
  modifier_classes ? modifier_classes : ''
]|join(' ')|trim %}

{% set id = 'side-menu'|unique_id %}

<nav {{ add_attributes({class: classes, id: id}) }}>
  {% include '@components/menu/menu.twig' with {
    'menu_name': menu_name,
    'items': items,
    'menu_class': ['c-side-menu__menu'],
    'item_class': ['c-side-menu__item'],
    'link_class': ['c-side-menu__link'],
  } %}
</nav>
