// @file
// Styles for Breadcrumb trail.

//$breadcrumb-background-color: gesso-color(ui, generic, accent-dark) !default;
//$breadcrumb-divider-color: gesso-color(ui, generic, border-light) !default;
//$breadcrumb-link-color: gesso-color(ui, generic, text-light) !default;
//$breadcrumb-text-color: gesso-color(text, on-dark) !default;
$breadcrumb-background-color: #112e51;
$breadcrumb-divider-color: #f1f1f1;
$breadcrumb-link-color: #aeb0b5;
$breadcrumb-text-color: #fff;

.breadcrumb {
  @include clearfix();
  background-color: $breadcrumb-background-color;
  color: $breadcrumb-text-color;
  font-size: 12px;
  margin: 32px 0;
  min-height: 40px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.breadcrumb__list {
  @include list-inline();
  margin-bottom: 0;
}

.breadcrumb__item {
  margin-right: 0.75em;

  &::after {
    color: $breadcrumb-divider-color;
    content: "/";
    margin-left: 0.75em;
  }

  &:last-child::after {
    content: "";
    margin-left: 0;
  }
}

.breadcrumb__list .breadcrumb__item {
  @include breakpoint-max(600px) {
    display: none;

    &:nth-last-child(2) {
      display: block;

      &::after {
        display: none;
      }

      &::before {
        color: $breadcrumb-divider-color;
        content: "<";
        margin-right: 0.75em;
      }
    }
  }
}

.breadcrumb__link {
  @include link($breadcrumb-link-color, $breadcrumb-text-color);
  text-decoration: none;
}
