// @file
// Module tweak partials
//
// Small fixes and tweaks for module CSS that needs customization or is
// negatively affected by the theme. Build sub-folders and partials in the
// 'module-tweaks' folder. Sass globbing will automatically import these
// partials.

@import 'module_tweaks/**/*.*';
