    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js?v=1.10.2"></script>

    <script src="../../../../js/mobile-menu.js?{{ cacheBuster }}"></script>
    <script src="../../../../js/scripts.js?{{ cacheBuster }}"></script>

    <!--DO NOT REMOVE-->
    {{ patternLabFoot | raw }}
  </body>
</html>
