// @file
// Styles for the mobile menu.

$mobile-menu-fallback-bg-color: #f3f3f3 !default;
$mobile-menu-bg-color: rgba(243, 243, 243, 0.98) !default;
$mobile-menu-border-color: #dadada !default;
$mobile-menu-text-color: #555559 !default;

.mobile-menu {
  @include breakpoint($bp-hide-mobile-menu) {
    display: none;
  }
}

.mobile-menu__bar {
  background-color: $mobile-menu-bg-color;
  border-bottom: 1px solid $mobile-menu-border-color;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  color: $mobile-menu-text-color;
  height: em(55px);
  text-align: center;
}

.mobile-menu__button {
  @include display-font-family-system;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: $mobile-menu-text-color;
  display: inline-block;
  font-weight: bold;
  height: em(55px);
  margin: 0;
  padding: 0 1em;
  text-decoration: none;

  &:focus {
    outline: thin dotted;
  }
}

.mobile-menu__button--menu {
  border-right: 1px solid $mobile-menu-border-color;
  float: left;
}

.mobile-menu__button--search {
  border-left: 1px solid $mobile-menu-border-color;
  float: right;
}

.mobile-menu__icon {
  @include image-replace(22px, 22px);

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  display: inline-block;
  margin-top: 1em;
}

%mobile-menu-icon-close {
  @include svg-background-inline(mobile-close);
}

.mobile-menu__icon--menu {
  @include svg-background-inline(mobile-menu);
  background-size: 33px 22px;
  width: 33px;

  .is-active & {
    @extend %mobile-menu-icon-close;
    background-size: 22px 22px;
  }
}

.mobile-menu__icon--search {
  @include svg-background-inline(mobile-search);

  .is-active & {
    @extend %mobile-menu-icon-close;
  }
}

.mobile-menu__links {
  @include z-index(navigation);
  background-color: $mobile-menu-fallback-bg-color;
  background-color: $mobile-menu-bg-color;
  color: $mobile-menu-text-color;
  position: absolute;
  width: 100%;
}

.mobile-menu__search {
  display: none;
  padding: 0.5em;

  form,
  .form-item,
  .form-text {
    width: 100%;
  }

  .form-text {
    box-sizing: border-box;
  }
}
