// Component: Details

@use '00-config' as *;

$details-border-color: var(--secondary-background-color) !default;
$details-icon-color: var(--link-color) !default;
$details-icon-size: 24px !default;
$details-padding: rem(gesso-spacing(2));

.c-details {
  border-block-end: solid 1px $details-border-color;
  margin-block: 0 rem(gesso-spacing(4));
  margin-inline: 0;
}

.c-details__summary {
  background: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  font-weight: gesso-font-weight(bold);
  gap: 1em;
  justify-content: space-between;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: $details-padding;
  transition: all gesso-duration(short) gesso-easing(ease-out);

  &::-webkit-details-marker {
    display: none;
  }

  &::after {
    color: $details-icon-color;
    content: '+';
    font-family: gesso-font-family(monospace);
    font-size: $details-icon-size;
    line-height: 1;
    text-align: center;
    width: $details-icon-size;
  }

  [open] > &::after {
    content: '-';
  }
}

.c-details__content {
  background: var(--background-color);
  color: var(--text-color);
  padding: $details-padding;
  padding-block-start: 0;

  > :last-child {
    margin-block-end: 0;
  }
}

.c-details__description {
  font-size: rem(gesso-font-size(2));
  margin-block-end: rem(gesso-spacing(2));
}
