{% set classes = [
  'l-footer',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set constrain_classes = [
  'l-constrain',
  constrain_modifier_classes ? constrain_modifier_classes : '',
]|join(' ')|trim %}

{% if is_demo and not footer_content %}
  {% import '@global/gesso.macro.twig' as macros %}
  {% set footer_content = macros.sample_content('Footer Layout Content') %}
{% endif %}

<footer {{ add_attributes({
  'class': classes,
  'role': 'contentinfo'
}) }}>
  {% if has_constrain %}
    <div {{ add_attributes({ 'class': constrain_classes }) }}>
  {% endif %}
  {% block content %}
    {{ footer_content }}
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</footer>
