{# 'form-radios' is a Drupal core class used by some modules (e.g., webform) #}
{% set classes = [
  'c-form-item',
  'c-form-item--radios',
  'form-radios',
] %}

<div{{ attributes.addClass(classes) }}>{{ children }}</div>
