// @file
// Styles for Cards.
$card-padding: 1rem;

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: ($card-padding * 1.5) $card-padding;
}

.card__content {
  margin-bottom: $card-padding * 0.5;
}

.card__media {
  order: -1;

  img {
    width: 100%;
  }
}

.card__footer {
  margin-top: auto;
}
