<header class="l-header" role="banner">
  <div class="l-constrain">
    {% block content %}
      {% include '@components/site-name/site-name.twig' %}
      {% include '@components/menus/menu--account/menu--account.twig' with {
        menu_name: "account",
        items: account_items
      }%}
      <nav id="primary-menu">
        {% include '@components/menus/menu--main/menu--main.twig' with {
        menu_name: "main",
        items: items
      } %}
      </nav>

      <button class="mobile-menu__toggle">Menu Toggle</button>
      <nav class="mobile-menu-container"></nav>


    {% endblock %}
  </div>
</header>
