// @file
// Component: Captioned Image

.captioned-image {
  display: table;
}

.captioned-image__caption {
  caption-side: bottom;
  display: table-caption;
}

.captioned-image--center-aligned {
  margin-left: auto;
  margin-right: auto;
}

.captioned-image--left-aligned {
  float: left;
  margin-right: rem(gesso-spacing(3));
}

.captioned-image--right-aligned {
  float: right;
  margin-left: rem(gesso-spacing(3));
}
