<div class="l-content">
  {% if has_constrain %}
    <div class="l-constrain {{ constrain_modifier_classes }}">
  {% endif %}
  {% block content %}
    Content Region Content
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</div>
