{% set classes = [
  'l-breadcrumb',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set constrain_classes = [
  'l-constrain',
  constrain_modifier_classes ? constrain_modifier_classes : '',
]|join(' ')|trim %}

<div {{ add_attributes({ 'class': classes }) }}>
  {% if has_constrain %}
    <div {{ add_attributes({ 'class': constrain_classes }) }}>
  {% endif %}
  {% block content %}
    {{ breadcrumb_content }}
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</div>
