{% if showAdminView %}
  <h2 class="visually-hidden">Primary tasks</h2>
  {% spaceless %}
  <ul class="nav nav--primary-local-tasks">
    <li class="nav__item is-active"><a class="nav__link is-active" href="{{ url }}">View<span class="visually-hidden">(active tab)</span></a></li>
    <li class="nav__item"><a class="nav__link" href="{{ url }}">Edit</a></li>
    <li class="nav__item"><a class="nav__link" href="{{ url }}">Manage display</a></li>
  </ul>
  {% endspaceless %}
{% endif %}
