<nav class="block  block--menu-block" role="navigation">
  <h2 class="visually-hidden block__title">Footer menu</h2>
  {% spaceless %}
  <ul class="nav nav--menu-footer">
    <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
    <li class="nav__item"><a class="nav__link" href="#">About</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Contact</a></li>
  </ul>
  {% endspaceless %}
</nav>
