<h2 class="visually-hidden">Primary tasks</h2>
{% spaceless %}
<ul class="nav nav--primary-local-tasks">
  <li class="nav__item"><a class="nav__link" href="#">Primary</a></li>
  <li class="nav__item is-active"><a class="nav__link is-active" href="#">Local<span class="visually-hidden">(active tab)</span></a></li>
  <li class="nav__item"><a class="nav__link" href="#">Tasks</a></li>
</ul>
{% endspaceless %}
<h2 class="visually-hidden">Secondary tasks</h2>
{% spaceless %}
<ul class="nav nav--secondary-local-tasks">
  <li class="nav__item is-active"><a class="nav__link is-active" href="#">Secondary<span class="visually-hidden">(active tab)</span></a></li>
  <li class="nav__item"><a class="nav__link" href="#">Local</a></li>
  <li class="nav__item"><a class="nav__link" href="#">Tasks</a></li>
</ul>
{% endspaceless %}
