<div class="pattern-lab-duration__wrapper">
  <div class="pattern-lab-duration__help-text">
    (Hover to demo duration)
  </div>
  <div class="pattern-lab-duration__group">
    {% for label, duration in gesso.transitions.duration %}
      <div class="pattern-lab-duration__item">
        {% set duration_style = 'transition-duration: '~ duration ~';' %}
        <div class="pattern-lab-duration__indicator" style="{{duration_style}}"></div>
        <div class="pattern-lab-duration__label">
          <div class="pattern-lab-duration__name">{{label}}</div>
          <div class="pattern-lab-duration__duration">{{duration}}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
