// Component: Progress
// Used for Drupal progress bars.

@use '00-config' as *;

$progress-background-color: gesso-color(ui, generic, background) !default;
$progress-bar-color: gesso-color(ui, generic, accent) !default;
$progress-border-color: gesso-color(ui, generic, border-dark) !default;
$progress-border-radius: rem(3px) !default;
$progress-text-color: gesso-color(text, on-light) !default;

.c-progress {
  position: relative;
}

.c-progress__track {
  background-color: $progress-background-color;
  block-size: 1rem;
  border: 1px solid $progress-border-color;
  border-radius: $progress-border-radius;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: rem(gesso-spacing(0.5)) 0;
  max-inline-size: 100%;
  min-inline-size: 6em;
  overflow: hidden;
}

.c-progress__bar {
  background-color: $progress-bar-color;
  block-size: 1rem;
  border-radius: $progress-border-radius;
  inline-size: 3%;
  transition-duration: 0.5s;
  transition-property: inline-size;
  transition-timing-function: ease-out;
}

.c-progress__description,
.c-progress__percentage {
  color: $progress-text-color;
  font-size: rem(gesso-font-size(2));
  overflow: hidden;
}

.c-progress__description {
  float: inline-start;
}

.c-progress__percentage {
  float: inline-end;
}
