// Component: Accordion

@use '00-config' as *;

$accordion-item-border-color: gesso-grayscale(gray-2) !default;
$accordion-item-icon-color: gesso-color(ui, generic, accent) !default;
$accordion-item-icon-size: 20px !default;

.c-accordion-item {
  border-bottom: solid 1px $accordion-item-border-color;
}

.c-accordion-item__heading {
  font-weight: gesso-font-weight(bold);
  margin: 0;
}

.c-accordion-item__toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: rem(gesso-spacing(2)) rem(gesso-spacing(8)) rem(gesso-spacing(2))
    rem(gesso-spacing(2));
  position: relative;
  text-align: left;
  transition: all gesso-duration(short) gesso-easing(ease-out);
  width: 100%;
}

.c-accordion-item__drawer {
  background: gesso-grayscale(white);
  display: none;
}

.c-accordion-item__drawer-inner {
  padding: 0 rem(gesso-spacing(8)) rem(gesso-spacing(2)) rem(gesso-spacing(2));
}

.c-accordion-item__icon {
  height: $accordion-item-icon-size;
  position: absolute;
  right: rem(gesso-spacing(3));
  top: 50%;
  transform: translateY(-50%);
  width: $accordion-item-icon-size;

  &::before,
  &::after {
    background-color: $accordion-item-icon-color;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: transform gesso-duration(shortest) gesso-easing(ease-out);
    width: 100%;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  [aria-expanded='true'] & {
    &::after {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}
