{% set classes = [
  'accordion',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes }) }}>
  {% if accordion_items %}
    <div
      class="accordion__content js-accordion"
      {# 
        "data-allow-multiple"
        Allows multiple accordions to open at once.
        Remove to only allow one to toggle at a time
      #}
      data-allow-multiple
    >
      {{ accordion_items }}
    </div>
  {% endif %}
</div>
