// @file
// Styles for Drupal's autocomplete widget.
$icon-horizontal-offset: em(8px);
$icon-vertical-offset: 12px;
$icon-throbbing-vertical-offset: -47px;

#autocomplete {
  border: 1px solid #5b616b;
  overflow: hidden;
  position: absolute;
  z-index: 100;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    background: #fff;
    color: #000;
    cursor: default;
    margin: 0;
    padding: 0.25em;
    white-space: pre;

    &.selected {
      background: $color-selection-background;
      color: $color-selection-foreground;
    }
  }
}

input.form-autocomplete {
  background-image: url(../images/bg/throbber.gif);
  background-position: right $icon-horizontal-offset top $icon-vertical-offset; // LTR
  background-repeat: no-repeat;
  padding-right: em(30px); // LTR

  @if $support-for-rtl {
    [dir="rtl"] & {
      background-position: left $icon-horizontal-offset top $icon-vertical-offset;
      padding-left: em(30px);
      padding-right: em(10px);
    }
  }

}

input.throbbing {
  background-position: right $icon-horizontal-offset top $icon-throbbing-vertical-offset; // LTR

  @if $support-for-rtl {
    [dir="rtl"] & {
      background-position: left $icon-horizontal-offset top $icon-throbbing-vertical-offset;
    }
  }

}
