// @file
// Styles for buttons.

.button {
  @include button();

  & + & {
    margin-left: 1em; // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        margin-left: 0;
        margin-right: 1em;
      }
    }
  }
}
