// @file
// Styles for form fieldsets.

$fieldset-color-border: #aeb0b5 !default;
$fieldset-color-legend: #d6d7d9 !default;
$fieldset-legend-offset:  rem($base-line-height * $base-font-size) !default;

.fieldset {
  margin-bottom: rem($vertical-spacing-forms + ($base-line-height * $base-font-size));
  padding: 0;
  position: relative;
  top: $fieldset-legend-offset; // Offsets the negative margin of legends.
}

.fieldset__legend {
  box-sizing: content-box;
  display: block;
  left: -1px; // LTR
  position: absolute;
  text-indent: 0;
  top: -$fieldset-legend-offset;
  width: 100%;

  @if $support-for-rtl {
    [dir='rtl'] & {
      left: auto;
      right: -1px;
    }
  }
}

.fieldset__legend-text {
  display: block;
}

.fieldset__legend-link {
  display: block;
}

.fieldset__content {}

.fieldset__description {
  color: $color-text-secondary;
  font-size: rem($font-size-sm);

  > :last-child {
    margin-bottom: 0;
  }
}

.fieldset--default {
  background: #fff;
  border: 1px solid $fieldset-color-border;
  margin: rem($vertical-spacing) 0 (rem($vertical-spacing) + rem(12px));
  padding: 0 1em;

  .fieldset__legend {
    background: $fieldset-color-legend;
    border: 1px solid $fieldset-color-border;
    border-bottom: none;
    color: #212121;
    height: 2em;
    line-height: 2;
    padding: 0;
    text-shadow: 0 1px 0 #fff;
  }

  .fieldset__legend-text {
    padding-left: 1em; // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        padding-left: 0;
        padding-right: 1em;
      }
    }
  }

  .fieldset__content {
    margin-top: 2.5em;
  }

  .fieldset__description {
    font-style: italic;
    margin: rem($vertical-spacing) 0;
  }
}
