// @file
// Styles for form items.

$form-color-border: #5b616b !default;
$form-text-size: $font-size-md !default;
$form-select-arrow-size: 13px !default;

.form-item {
  margin: 0 0 rem($vertical-spacing);
}

.form-item__label {
  display: block;
}

.form-item__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-item__legend {}

.form-item__description {
  color: $color-text-secondary;
  font-size: rem($font-size-sm);

  > :last-child {
    margin-bottom: 0;
  }
}

.form-item__required-marker:before {
  content: '*';
}

%form-item__box,
.form-item__date,
.form-item__email,
.form-item__number,
.form-item__password,
.form-item__search,
.form-item__select,
.form-item__tel,
.form-item__text,
.form-item__textarea,
.form-item__time {
  appearance: none;
  border: 1px solid $form-color-border;
  font-size: rem($form-text-size);
  height: rem(44px);
  line-height: (22px / $form-text-size);
  padding: em(10px, $form-text-size) em(7px, $form-text-size);
  margin: 0.2em 0;

  &:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
    outline: 0;
  }

  .is-full-width > & {
    width: 100%;
  }
}

.form-item__select {
  @include svg-background(arrow-down);
  background-color: #fff;
  background-position: right rem($form-select-arrow-size) center; // LTR
  background-repeat: no-repeat;
  background-size: rem($form-select-arrow-size);
  padding-right: rem(($form-select-arrow-size * 2) + 7px); // LTR

  &::-ms-expand {
    display: none;
  }
}

.form-item__textarea {
  height: auto;
}

.form-item__checkbox,
.form-item__radio {
  @extend %visually-hidden;

  & + .form-item__label {
    cursor: pointer;
    display: block;

    &:before {
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #757575;
      content: '\a0';
      display: inline-block;
      height: rem(16px);
      line-height: rem(16px);
      margin-right: 0.6em;
      text-indent: 0.15em;
      transition-duration: 0.2s;
      transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
      transition-timing-function: ease-in-out;
      vertical-align: middle\0;
      width: rem(16px);
    }
  }

  &:checked + .form-item__label:before {
    background-color: #0071bc;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0071bc;
  }

  &:focus + .form-item__label:before {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0071bc, 0 0 3px 4px #3e94cf, 0 0 7px 4px #3e94cf;
  }

  &:disabled + .form-item__label {
    color: #5b616b;

    &:before {
      background: #d6d7d9;
      box-shadow: 0 0 0 1px #aeb0b5;
      cursor: not-allowed;
    }
  }
}

.form-item__checkbox {
  & + .form-item__label:before {
    border-radius: rem(3px);
    box-shadow: 0 0 0 1px #757575;
    height: rem(18px);
    line-height: rem(18px);
    width: rem(18px);
  }

  &:checked + .form-item__label:before {
    @include svg-background(correct);
    background-position: 50%;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1px #0071bc;
  }
}
