// @file
// Styles for Pattern Lab Gesso starterkit hero-bg-image component.

.hero-bg-image {
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  padding: 4em 1em;
  text-align: center;

  &.has-overlay {
    position: relative;

    &:after {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .hero-bg-image__content {
      position: relative;
      z-index: 2;
    }
  }
}

.hero-bg-image__title {
  margin-bottom: 0.25em;
}

.hero-bg-image__subtitle {
  @extend %h3;
}
