// @file
// Styles for pagers.
$pager-bg-color: #666;
$pager-border-color: #000;
$pager-bg-active-color: #333;
$pager-font-size: $font-size-sm; 

.pager {
  font-size: 0%;
  line-height: 1;
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

.pager__item {
  box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.5);

  @if $support-for-rtl {
    [dir='rtl'] & {
      box-shadow: -4px 3px 6px rgba(0,0,0,0.5);
    }
  }

  display: inline-block;
  font-size: rem($pager-font-size);
  margin: 0;
  padding: 0;
}

.pager__link {
  background: $pager-bg-color;
  border: 0;
  border-right: 1px solid $pager-border-color;
  color: #fff;
  display: inline-block;
  font-size: rem($pager-font-size);
  font-weight: bold;
  padding: 1rem 1.25rem;
  text-decoration: none;

  .pager__item:first-child & {
    border-left: 1px solid $pager-border-color;
  }

  .pager--mini & {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  &:hover, &:focus {
    background: $pager-bg-active-color;
    color: #fff;
  }
}

.pager__item--ellipsis {
  display: none;
}

.pager__item--current {
  @extend .pager__link;
  background: $pager-bg-active-color;
}
