{#
  /**
  * @file
  * Component for Site Name.
  *
  * Available variables:
  * - url: [string] The site link url.
  * - site_name: [string] the site name.
  */
#}

<a class="site-name" href="{{ url }}" title="{{ 'Home'|t }}" rel="home">
  <h1 class="site-name__text">{{ site_name }}</h1>
</a>
