<div class="l-breadcrumb">
  <div class="l-constrain">
    {% block content %}
      {% include '@components/breadcrumb/breadcrumb.twig' with breadcrumb_region_content %}
    {% endblock %}
  </div>
</div>
