<div class="l-breadcrumb">
  <div class="l-constrain">
    {% block content %}
      {% include '@components/breadcrumb/breadcrumb.twig' with {
        'breadcrumb': [
          { 'url': '#', 'text': 'Home' },
          { 'url': '#', 'text': 'About' },
          { 'text': 'Current Page' }
        ]
      } %}
    {% endblock %}
  </div>
</div>
