// @file
// Admin syles for Panels layout: sidebar-multi-row

$panels-admin: true;
@import 'breakpoint-sass/stylesheets/breakpoint'; // github.com/Team-Sass/breakpoint
@include breakpoint-set('no queries', false);
@include breakpoint-set('no query fallbacks', false);
@import '../partials/global';
@import '../partials/layout/sidebar-multi-row';
