{#
  /**
  * @file
  * Component for a Section.
  *
  * Variables:
  * - has_wrapper: [boolean] True/False whether to add a main wrapping element.
  * - element: [string] HTML element to use for main wrapper.
  * - attributes: [array] HTML attributes for the containing element
  *   - class: [string] any classed added by user or system 
  * - has_constrain: [boolean] True/False whether to add a constraint to block.
  * - content:  The content of this block.
  */
#}

{% if has_wrapper %}
  <{{ element ?: "section" }}{{- attributes.addClass(classes)|raw -}}>
{% endif %}

  {% if has_constrain %}
    <div class="l-constrain">
  {% endif %}

  {% block content %}
    {{ content }}
  {% endblock %}

  {% if has_constrain %}
    </div>
  {% endif %}

{% if has_wrapper %}
  </{{ element ?: 'section' }}>
{% endif %}
