// @file
// Styles for fields.

.field {
  margin: 0 0 rem($spacing-scale-level-3) 0;
}

.field__label {
  @include display-font-weight-bold;
  display: block;
  &.is-inline {
    display: inline-block;
    margin-right: 0.1em;
    + .field__item {
      display: inline;
    }
    + .field__items {
      display: inline;
      .field__item {
        display: inline;
      }
    }
  }
}
