<button class="button button--danger">Danger Button</button>
<a href="#" class="button button--danger">Danger Button Link</a>
<button class="button button--danger" disabled>Disabled Danger Button</button>
