{{ title_prefix }}
{{ title_suffix }}

{% if show_admin_info %}
  {% if not admin_info %}
    {% set admin_info %}
      {% include '@components/message/message.twig' with {
        'heading': 'Status message',
        'messages': ['This is a status message about <em class="placeholder">something</em> that has been updated. <a href="#">This is a link</a>.'],
      } %}
      {% include '@components/button-group/button-group.twig' with {
        'heading': 'Primary tabs',
        'element': 'nav',
        'button_modifier_classes': 'c-button--base',
        'buttons': [
          {
            'text': 'View',
            'active': true,
          },
          {
            'text': 'Edit',
          },
          {
            'text': 'Delete',
          },
          {
            'text': 'Revisions',
          },
        ],
      } %}
    {% endset %}
  {% endif %}

  {% block admin_info %}
    {{ admin_info }}
  {% endblock %}
{% endif %}

{% if not homepage_hero %}
  {% set homepage_hero %}
    {% include '@components/hero-bg-image/hero-bg-image.twig' with {
      'has_overlay': true,
      'hero_image': hero_image,
      'hero_title': hero_title,
      'hero_summary': hero_summary,
      'hero_button_text': hero_button_text,
      'hero_button_url': hero_button_url,
    } %}
  {% endset %}
{% endif %}

{% set homepage_grid %}
  {% include '@layouts/grid/grid.twig' with {
    'num_of_cols': '2',
    'grid_content': homepage_grid_content,
  } %}
{% endset %}

{% include '@layouts/section/section.twig' with {
  'section_title': false,
  'section_content': homepage_hero,
} %}

{% include '@layouts/section/section.twig' with {
  'section_title': homepage_grid_title,
  'section_content': homepage_grid,
} %}
