// HTML Element: IMG

img {
  block-size: auto;
  border: 0;
  font-style: italic; // Makes alt text stand out from surrounding text.
  max-inline-size: 100%;
  vertical-align: middle;

  @media print {
    max-inline-size: 100% !important;
    page-break-inside: avoid;
  }
}
