{% include "components-region-header" %}
{% include "components-region-navigation" %}
{% include "components-region-preface" %}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">
    <div class="l-constrain">

      {% include "components-page-title"
        with {
          pageTitle: "Landing Page"
        }
      %}

      {% for listItem in listItems.four %}
        {% include "components-image-teaser" %}
      {% endfor %}

      {% include "components-pager" %}

    </div>

  </div>
</main>

{% include "components-region-postscript" %}
{% include "components-region-footer" %}
