// @file
// Styles for Cards.
$card-padding: rem(gesso-spacing(md));

.card {
  border-bottom: 4px solid gesso-palette(blue, base);
  box-shadow: gesso-box-shadow(1);
  display: flex;
  flex-direction: column;
  transition: box-shadow gesso-duration(short) gesso-easing(easeInOut);

  &:hover,
  &:focus-within {
    box-shadow: gesso-box-shadow(3);
  }
}

.card__date {
  font-size: gesso-font-size(0);
}

.card__title {
  font-size: gesso-font-size(3);

  a {
    @include link(
      gesso-grayscale(black),
      gesso-grayscale(gray-4)
    );
  }
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: 0 $card-padding 0;

  p:last-child {
    margin-bottom: 0;
  }
}

.card__date {
  color: gesso-grayscale(gray-4);
  margin-bottom: rem(gesso-spacing(sm));
}

.card__content {
  margin-bottom: rem(gesso-spacing(md));
}

.card__media {
  margin-bottom: rem(gesso-spacing(md));
  order: -1;

  a {
    display: block;
    height: 100%;
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.card__footer {
  margin-top: auto;
  padding: 0 0 $card-padding;

  > div {
    margin-bottom: rem(gesso-spacing(sm));

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card__readmore {
  text-align: right;
}

.card--feature {
  .card__body {
    padding-top: $card-padding;
  }

  .card__media {
    flex-grow: 1;
    margin-bottom: 0;
  }

  @include breakpoint(gesso-breakpoint(md)) {
    flex-direction: row;

    .card__title {
      font-size: rem(gesso-font-size(4));
    }

    .card__body {
      max-width: rem(600px);
      padding: $card-padding 2vw 0;
    }

    .card__media {
      order: initial;
    }
  }
}
