// @file
// Styles for radio form items.

.form-item--radio {
  margin-bottom: 0.5em;

  .form-item__radio {
    appearance: none;
    border: 2px solid #999;
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    margin-right: 3px;
    outline: none;
    position: relative;
    top: 2px;
    transition-duration: 0.2s;
    transition-property: border-color, border-width;
    transition-timing-function: ease-in-out;
    width: 16px;
    &:checked {
      border: 6px solid #0071bc;
    }
    &:disabled {
      border: 2px solid #bbb;
      cursor: default;
    }
    & + .form-item__label {
      cursor: pointer;
      display: inline;
    }
    &:disabled + .form-item__label {
      color: #bbb;
      cursor: default;
    }
  }

}
