// @file
// Styles for radio form items.

$form-item-radio-size: 20px;
$form-item-radio-border-color: $color-grayscale-4;
$form-item-radio-border-color-active: $blue;

.form-item--radio {
  margin-bottom: 0.5em;

  .form-item__radio {
    appearance: none;
    border: 2px solid $form-item-radio-border-color;
    border-radius: 50%;
    cursor: pointer;
    height: $form-item-radio-size;
    margin-right: 3px;
    outline: none;
    position: relative;
    top: 2px;
    transition-duration: 0.2s;
    transition-property: border-color, border-width;
    transition-timing-function: ease-in-out;
    width: $form-item-radio-size;

    &:checked {
      border: 6px solid $form-item-radio-border-color-active;
    }

    &:disabled {
      opacity: .75;
      border: 2px solid $form-item-radio-border-color;
    }

    & + .form-item__label {
      cursor: pointer;
      display: inline;
    }

    &:disabled + .form-item__label {
      cursor: default;
    }
  }
}
