<div class="form-item form-item--radio">
  <input class="form-item__radio" name="radios" aria-describedby="edit-radios-description" type="radio"{% if radioOptionDisabled %} disabled{% endif %}>
  <label class="form-item__label is-after">{{ radioOptionLabel }}</label>
</div>
