<div class="l-sidebar">
  <div class="l-sidebar__full">
    <p style="background:#333;color:#fff;padding:1em">Full</p>
  </div>

  <div class="l-sidebar__main">
    <p style="background:#333;color:#fff;padding:1em">Main</p>
  </div>

  <aside class="l-sidebar__sidebar" role="complementary">
    <p style="background:#666;color:#fff;padding:1em">Sidebar</p>
  </aside>
</div>
