// HTML Element: Ordered List

@use 'sass:math';
@use '00-config' as *;

ol {
  margin: 0 0 rem(gesso-spacing(2));
  padding: 0 0 0 rem(gesso-spacing(3)); // LTR

  @if $support-for-rtl {
    [dir='rtl'] & {
      padding: 0 rem(gesso-spacing(3)) 0 0;
    }
  }

  ol,
  ul {
    margin-top: rem(math.div(gesso-spacing(2), 2));
  }
}
