// @file
// Ordered list styles.
@use "sass:math";

ol {
  margin: 0 0 rem(16px, 16px);
  padding: 0 0 0 rem(24px, 16px); // LTR

  @if $support-for-rtl {
    [dir="rtl"] & {
      padding: 0 rem(24px, 16px) 0 0;
    }
  }

  ol,
  ul {
    margin-top: rem(math.div(16, 2), 16px);
  }
}
