// @file
// Styles for a video.
@use "sass:math";

$video-aspect-ratio: math.div(9, 16); // 16:9

.video {
  height: 0;
  max-width: 100%;
  padding-bottom: $video-aspect-ratio * 100%;
  position: relative;

  > iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
