// @file
// Styles for the main menu.

@use '00-config' as *;

.c-dropdown-menu {
  @include list-inline;

  > .c-dropdown-menu__item {
    display: inline-block;
    position: relative;

    > .c-dropdown-menu__link {
      background-color: transparent;
      border: 0;
      display: inline-block;
      font-weight: gesso-font-weight(semibold);
      margin-right: gesso-spacing(5);
      padding: 0;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;

      &.has-subnav {
        padding-right: 25px;
      }

      &.has-subnav::after {
        @include svg-background(menu-arrow-down);
        background-size: 16px 16px;
        content: '';
        display: block;
        height: 16px;
        overflow: hidden;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-40%);
        width: 16px;
      }
    }

    > button.c-dropdown-menu__link {
      @include text-button;
      @include link(gesso-color(text, link), gesso-color(text, link-hover));
    }
  }
}

.c-dropdown-menu__item {
  margin-bottom: 0;
}

.c-dropdown-menu__link.has-subnav {
  position: relative;
}

.c-dropdown-menu__toggle {
  @include text-button;
  @include image-replace(16px, 16px);
  @include svg-background(menu-arrow-down);
  background-color: #f00;
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-40%);

  svg {
    pointer-events: none;
  }
}

.c-dropdown-menu__subnav {
  @include list-clean;
  background-color: gesso-color(ui, generic, background-dark);
  display: none;
  left: 0;
  margin: rem(gesso-spacing(1)) 0 0;
  padding: 0;
  position: absolute;
  top: 0;

  .c-dropdown-menu__link {
    @include link(gesso-color(ui, generic, text-lighter));
    display: block;
    line-height: gesso-line-height(tight);
    padding: rem(gesso-spacing(2)) rem(gesso-spacing(3));
    position: relative;
    text-decoration: none;
    width: rem(200px);

    &:hover,
    &:focus {
      background-color: gesso-color(ui, generic, background-darker);
    }

    &.has-subnav::after {
      @include image-replace(16px, 16px);
      @include svg-background(menu-arrow-right);
      background-size: 16px 16px;
      content: '';
      display: block;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .c-dropdown-menu__subnav {
    margin: 0;
  }
}
