// @file
// Table styles.

caption {
  @include vertical-spacing(rem(gesso-spacing(xxs)));
  margin: 0;
}

// col {}

// colgroup {}

table {
  @include vertical-spacing(rem(gesso-spacing(sm)));
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  min-width: 100%;
}

// tbody {}

td {
  background-color: gesso-color(table, background);
  border: 1px solid gesso-color(table, border);
  padding: rem(gesso-spacing(sm));
}

tfoot {
  td,
  th {
    background-color: gesso-color(table, background-foot);
  }
}

th {
  background-color: gesso-color(table, background);
  border: 1px solid gesso-color(table, border);
  padding: rem(gesso-spacing(sm));
  text-align: left;
}

thead {
  td,
  th {
    background-color: gesso-color(table, background-head);
  }

  @media print {
    display: table-header-group;
  }
}

tr {
  @media print {
    page-break-inside: avoid;
  }
}
