{# 'form-checkboxes' is a Drupal core class used by some modules (e.g., webform) #}
{% set classes = [
  'c-form-item',
  'c-form-item--checkboxes',
  'form-checkboxes',
] %}

<div{{ attributes.addClass(classes) }}>{{ children }}</div>
