// Mixins: Link

@mixin link(
  $link: var(--gesso-link-color),
  $hover: $link,
  $active: $hover,
  $visit: $link
) {
  color: $link;

  &:visited {
    color: $visit;
  }

  &:hover,
  &:focus {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}
