// Mixins: SVG Background

@mixin svg-background($image-name, $image-location: 'images/backgrounds/') {
  $url: $image-location + $image-name + '.svg';
  background-image: url($url);
}

@mixin svgz-background($image-name, $image-location: 'images/backgrounds/') {
  $url: $image-location + $image-name + '.svgz';
  background-image: url($url);
}
