// @file
// Definition list styles.

dd {
  @include vertical-spacing(rem(gesso-spacing(2)));
  margin: 0;
  padding-left: rem(gesso-spacing(3));

  dt + & {
    margin-top: 0;
  }
}

dl {
  @include vertical-spacing(rem(gesso-spacing(2)));
  margin: 0;
}

// dt {}
