// @file
// Styles for Button.

.button {
  @include button();
  @include vertical-spacing(rem(gesso-spacing(xs)));
  margin: 0;

  & + & {
    margin-left: rem(gesso-spacing(xs)); // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        margin-left: 0;
        margin-right: rem(gesso-spacing(xs));
      }
    }
  }
}

// Drupal outputs this class on buttons that can delete content.
.button--danger {
  background-color: gesso-color(button, danger, background);
  color: gesso-color(button,danger,text);

  &:hover,
  &:focus {
    background-color: gesso-color(button, danger, background-hover);
    color: gesso-color(button,danger,text-hover);
  }

  &:active {
    background-color: gesso-color(button, danger, background-active);
    color: gesso-color(button,danger,text-active);
  }
}

// This custom button class, included as an example, is not output by Drupal by default.
.button--secondary {
  @include button(
    gesso-color(button, secondary, background),
    gesso-color(button, secondary, text),
    gesso-color(button, secondary, background-hover),
    gesso-color(button, secondary, text-hover),
    gesso-color(button, secondary, background-active),
    gesso-color(button, secondary, text-active)
  );
}

// This custom button class, included as an example, is not output by Drupal by default.
.button--large {
  font-size: rem(gesso-font-size(2));
  padding: rem(gesso-spacing(sm)) rem(gesso-spacing(lg));
}

// This custom button class, included as an example, is not output by Drupal by default.
.button--small {
  font-size: rem(gesso-font-size(0));
  padding: rem(gesso-spacing(xxs)) rem(gesso-spacing(xs));
}
