// @file
// Styles for form fieldsets.

$fieldset-legend-offset: rem(
  gesso-line-height(base) * gesso-base-font-size()
) !default;

.fieldset {
  @include vertical-spacing(rem(gesso-spacing(3)) + $fieldset-legend-offset);
  padding: 0;
  position: relative;
  top: $fieldset-legend-offset; // Offsets the negative margin of legends.
}

.fieldset__legend {
  box-sizing: content-box;
  display: block;
  left: -1px; // LTR
  position: absolute;
  text-indent: 0;
  top: -$fieldset-legend-offset;
  width: 100%;

  @if $support-for-rtl {
    [dir='rtl'] & {
      left: auto;
      right: -1px;
    }
  }
}

.fieldset__legend-text {
  display: block;
}

.fieldset__legend-link {
  display: block;
}

// .fieldset__content {}

.fieldset__description {
  color: gesso-color(text, secondary);
  font-size: rem(gesso-font-size(2));
}

.fieldset--default {
  @include vertical-spacing(
    rem(gesso-spacing(2)),
    rem(gesso-spacing(2)) + rem(12px)
  );
  background: #fff;
  border: 1px solid gesso-color(form, border);
  padding: 0 rem(gesso-spacing(2));

  .fieldset__legend {
    background: gesso-color(form, border);
    border: 1px solid gesso-color(form, border);
    border-bottom: 0;
    color: #212121;
    height: 2em;
    line-height: 2;
    padding: 0;
    text-shadow: 0 1px 0 #fff;
  }

  .fieldset__legend-text {
    padding-left: 1em; // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        padding-left: 0;
        padding-right: 1em;
      }
    }
  }

  .fieldset__content {
    padding: rem(gesso-spacing(3)) 0 rem(gesso-spacing(2));
  }

  .fieldset__description {
    @include vertical-spacing(rem(gesso-spacing(2)));
    font-style: italic;
  }
}
