{% set classes = [
  'fieldset',
  'fieldset--default',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<fieldset class="{{ classes }}">
  <legend class="fieldset__legend">
    <span class="fieldset__legend-text">{{ fieldset_legend }}</span>
  </legend>
  <div class="fieldset__content">
    {{ fieldset_content }}
    {% if fieldset_description %}
      <div class="fieldset__description">
        {{ fieldset_description }}
      </div>
    {% endif %}
  </div>
</fieldset>
