<div class="pattern-lab-sliding">
  <div class="pattern-lab-sliding__demo">
    <button class="pattern-lab-sliding__slide-up">Slide up</button>
    <div>
      <p>Soufflé shortbread chupa chups lollipop carrot cake lollipop gingerbread. Chocolate cake topping caramels cupcake chocolate bar apple pie. Cotton candy pastry fruitcake shortbread jelly-o gummi bears. Icing fruitcake dragée pie cheesecake pastry.</p>
      <p>Apple pie apple pie candy canes cookie I love tart. Candy canes muffin sweet roll jujubes tootsie roll. I love pudding jujubes bear claw pastry cupcake. Danish soufflé marshmallow chupa chups I love cookie apple pie.</p>
    </div>
  </div>
  <div class="pattern-lab-sliding__demo" >
    <button class="pattern-lab-sliding__slide-down">Slide down</button>
    <div style="display:none">
      <p>Fig arugula cashew salad balsamic vinaigrette hummus lavender lemonade potato grapefruit cherry bomb salty cozy butternut sesame soba noodles Malaysian Thai dragon pepper. Soup cinnamon crunchy seaweed green tea lime tabasco pepper Thai miso dressing tempeh hearty crumbled lentils cayenne toasted hazelnuts apple vinaigrette mediterranean lemonade zest almond milk one bowl blueberry chia seed jam salted. Peanut butter crunch sweet potato pomegranate mangos cilantro lime vinaigrette banana bread muffins double dark chocolate green bowl frosted gingerbread bites mint lime taco salsa hemp seeds pasta four-layer cherries lentils dragon fruit chocolate cookie Mexican fiesta cauliflower bruschetta roasted butternut squash red curry tofu noodles plums vegan shiitake mushrooms Italian pepperoncini.</p>
      <p>Ultra creamy avocado pesto paprika cremini mushrooms cool jalapeño soy milk creamy cauliflower alfredo sauce homemade balsamic hearts of palm morning smoothie bowl Bulgarian carrot pine nuts chickpea crust pizza. Guacamole veggie burgers Thai sun pepper Thai super chili coconut milk naga viper oranges ginger carrot spiced juice avocado asian pear cumin red grapes artichoke hearts seasonal ultimate raspberry fizz fall sparkling pomegranate punch Sicilian pistachio pesto peach strawberry mango picnic red amazon pepper salad.</p>
    </div>
  </div>
  <div class="pattern-lab-sliding__demo">
    <button class="pattern-lab-sliding__slide-toggle">Slide toggle</button>
    <div>
      <p>Bacon ipsum dolor amet sirloin strip steak aliqua, dolore reprehenderit in ullamco consequat buffalo alcatra cupidatat. Fugiat nostrud pancetta laboris, ea do frankfurter ut salami beef ribs ipsum veniam. Corned beef sed ad, turkey tail sint ham buffalo rump sirloin irure lorem andouille picanha brisket. Tail strip steak tenderloin burgdoggen ground round cow pork chop. Esse venison incididunt pariatur non bresaola chislic drumstick burgdoggen laborum aliquip shank ut. Proident andouille shank alcatra meatloaf. Flank ut buffalo bresaola mollit, incididunt ullamco biltong consectetur sausage.</p>
      <p>Andouille pork deserunt burgdoggen pancetta, short ribs enim sunt chislic in aliquip est fatback aliqua. Culpa chuck jowl porchetta, flank ball tip ullamco andouille tempor elit consequat laboris tongue. Filet mignon pastrami picanha, ribeye boudin dolor in spare ribs. In sausage pastrami, boudin buffalo salami ad ham hock doner non duis beef. Ball tip pork loin velit picanha ad, pariatur salami quis do leberkas.</p>
    </div>
  </div>
</div>
