// @file
// Styles for Cards.

$card-accent-border-color: gesso-color(ui, generic, accent) !default;
$card-link-color: gesso-color(text, on-light) !default;
$card-link-color-hover: gesso-color(ui, generic, text-dark) !default;
$card-meta-color: gesso-color(ui, generic, text-dark) !default;
$card-padding: rem(gesso-spacing(3)) !default;

.card {
  border-bottom: 4px solid $card-accent-border-color;
  box-shadow: gesso-box-shadow(1);
  display: flex;
  flex-direction: column;
  transition: box-shadow gesso-duration(short) gesso-easing(ease-in-out);

  &:hover,
  &:focus-within {
    box-shadow: gesso-box-shadow(3);
  }
}

.card__title {
  font-size: rem(gesso-font-size(4));
  margin: 0;

  a {
    @include link($card-link-color, $card-link-color-hover);
  }
}

.card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $card-padding;
}

.card__header {
  margin-bottom: rem(gesso-spacing(3));
}

.card__date {
  color: $card-meta-color;
  font-size: rem(gesso-font-size(1));
  margin-bottom: rem(gesso-spacing(2));
}

.card__content {
  margin-bottom: rem(gesso-spacing(3));
}

.card__media {
  order: -1;

  a {
    display: block;
    height: 100%;
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.card__footer {
  margin-top: auto;
}

.card__tags {
  margin-bottom: rem(gesso-spacing(2));
}

.card__readmore {
  text-align: right;
}

.card--feature {
  .card__media {
    flex-grow: 1;
  }

  @include breakpoint(gesso-breakpoint(desktop)) {
    flex-direction: row;

    .card__title {
      font-size: rem(gesso-font-size(5));
    }

    .card__body {
      max-width: 600px;
      padding: $card-padding 2vw;
    }

    .card__media {
      order: initial;
    }
  }
}
