{% import '@macros/gesso.macro.twig' as macros %}

{% set classes = [
  'tag-list',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

<ul class="{{ classes }}">
  {% for item in items %}
    <li class="tag-list__item">
      {{ macros.tag(item.url, item.title) }}
    </li>
  {% endfor %}
</ul>
