// @file
// Blockquote styles.

blockquote {
  @include display-text-style(blockquote);
  margin: 0 0 rem(gesso-spacing(lg));

  p {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }

  cite {
    @include display-text-style(cite);
    display: block;
    margin-top: rem(gesso-spacing(sm));
    text-align: right;

    em {
      border-left: 1px solid gesso-grayscale(gray-2);
      font-weight: gesso-font-weight(regular);
      margin-left: gesso-spacing(xxsm);
      padding-left: gesso-spacing(xsm);
    }
  }

  @media print {
    page-break-inside: avoid;
  }
}
