// @file
// Blockquote styles.

$blockquote-cite-divider-color: gesso-color(ui, generic, border);

blockquote {
  @include display-text-style(blockquote);
  @include vertical-spacing(rem(gesso-spacing(lg)));
  margin: 0;

  p {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }

  cite {
    @include vertical-spacing(rem(gesso-spacing(sm)));
    display: block;
    margin: 0;
    text-align: right;

    em {
      border-left: 1px solid $blockquote-cite-divider-color;
      font-weight: gesso-font-weight(regular);
      margin-left: rem(gesso-spacing(xxs));
      padding-left: rem(gesso-spacing(xs));
    }
  }

  @media print {
    page-break-inside: avoid;
  }
}
