{% set classes = [
  'tag',
  type ? 'tag--' ~ type : '',
  size ? 'tag--' ~ size : '',
]|join(' ')|trim %}

<a href="{{ url|default('#0') }}" {{ add_attributes({ 'class': classes }) }} rel="tag">
  {{ title }}
</a>
