// @file
// Component: c-call-to-action

@use '00-config' as *;

.c-call-to-action__grid {
  align-items: center;
}

.c-call-to-action__media {
  @include breakpoint(gesso-breakpoint('tablet')) {
    grid-column-start: 2;
    order: 2;
  }
}

.c-call-to-action__copy {
  @include breakpoint(gesso-breakpoint('tablet')) {
    grid-row-start: 1;
    order: 1;
  }
}
