{% set classes = [
  'c-date',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<div {{ add_attributes({ 'class': classes }) }}>
  {% if format == 'long-date' %}
    {% include '@global/date-formats/long-date.twig' %}
  {% elseif format == 'long-datetime' %}
    {% include '@global/date-formats/long-datetime.twig' %}
  {% elseif format == 'medium-date' %}
    {% include '@global/date-formats/medium-date.twig' %}
  {% elseif format == 'medium-datetime' %}
    {% include '@global/date-formats/medium-datetime.twig' %}
  {% elseif format == 'short-date' %}
    {% include '@global/date-formats/short-date.twig' %}
  {% elseif format == 'short-datetime' %}
    {% include '@global/date-formats/short-datetime.twig' %}
  {% else %}
    {{ date_content }}
  {% endif %}
</div>
