// @file
// Styles for Drupal messages.

.message {
  background-color: gesso-grayscale(gray-2);
  border: 1px solid gesso-grayscale(gray-4);
  color: gesso-color(text, primary);
  margin-bottom: rem(gesso-spacing(sm));
  overflow: hidden;
  padding: rem(gesso-spacing(sm));
  position: relative;
  word-wrap: break-word;

  &::before {
    background-repeat: no-repeat;
    background-size: em(52px);
    bottom: -0.5em;
    content: '';
    display: block;
    height: em(52px);
    position: absolute;
    right: -0.5em;
    transform: rotate(-20deg);
    width: em(52px);
    @media print {
      display: none !important;
    }
  }

  a {
    color: gesso-color(text, secondary);
    font-weight: gesso-font-weight(semibold);
    text-decoration: underline;
  }

}

.message__content {
  > *:last-child {
    margin-bottom: 0;
  }
}

.message--status {
  background-color: gesso-palette(green, light-2);
  border-color: gesso-palette(green, light-1);

  &::before {
    @include svg-background(messages-status);
  }
}

.message--error {
  background-color: gesso-palette(red, light-1);
  border-color: gesso-palette(red, light);

  &::before {
    @include svg-background(messages-error);
  }

  .message__item {
    em:first-child {
      font-style: normal;
      font-weight: gesso-font-weight(bold);
    }
  }
}

.message--warning {
  background-color: gesso-palette(gold, light-2);
  border-color: gesso-palette(gold, light-1);

  &::before {
    @include svg-background(messages-warning);
  }
}
