// @file
// Styles for Button.

.button {
  @extend %button-font;
  @include button();
  margin: 0 0 rem($spacing-scale-level-2);

  & + & {
    margin-left: rem($spacing-scale-level-2); // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        margin-left: 0;
        margin-right: rem($spacing-scale-level-2);
      }
    }
  }
}
