// @file
// Styles for Button.

.button {
  @include button();
  margin: 0 0 0.5em;

  & + & {
    margin-left: 0.5em; // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
  }
}

// Drupal outputs this class on buttons that can delete content.
.button--danger {
  background-color: #e31c3d;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #cd2026;
    color: #fff;
  }

  &:active {
    background-color: #981b1e;
    color: #fff;
  }
}

// This custom button class, included as an example, is not output by Drupal by default.
.button--large {
  font-size: rem($font-size-lg);
  line-height: (25px / $font-size-lg);
  padding: rem(15px) rem(30px);
}

// This custom button class, included as an example, is not output by Drupal by default.
.button--secondary {
  background-color: #5b616b;
  color: #fff;

  &:focus,
  &:hover {
    background-color: #323a45;
    color: #fff;
  }

  &:active {
    background-color: #212121;
    color: #fff;
  }
}

// This custom button class, included as an example, is not output by Drupal by default.
.button--small {
  font-size: rem($font-size-sm);
  line-height: (17px / $font-size-sm);
  padding: rem(8px) rem(16px);
}
