// @file
// Styles for Tabs.

$tab-border-radius: 0 !default;
$tab-color-bg: gesso-grayscale(gray-3) !default;
$tab-color-bg-active: gesso-grayscale(black) !default;
$tab-color-bg-disabled: gesso-grayscale(gray-3) !default;
$tab-color-bg-hover: gesso-grayscale(gray-4) !default;
$tab-color-border: gesso-grayscale(gray-4) !default;
$tab-color-text: gesso-grayscale(black) !default;
$tab-color-text-active: gesso-grayscale(white) !default;
$tab-color-text-disabled: gesso-grayscale(gray-6) !default;
$tab-color-text-hover: gesso-grayscale(black) !default;

.tabs {
  @include clearfix;
}

.tabs__items {
  @include list-clean;
  display: flex;
  flex-direction: column;

  @include breakpoint(gesso-breakpoint(sm)) {
    flex-direction: row;
  }

  @media print {
    display: none;
  }
}

.tabs__item {
  &:first-child {
    .tabs__link {
      border-bottom-left-radius: $tab-border-radius;
      border-left: 0;
      border-top-left-radius: $tab-border-radius;
    }
  }

  &:last-child {
    .tabs__link {
      border-bottom-right-radius: $tab-border-radius;
      border-top-right-radius: $tab-border-radius;
    }
  }
}

.tabs__link {
  @include button(
    $tab-color-bg,
    $tab-color-text,
    $tab-color-bg-hover,
    $tab-color-text-hover,
    $tab-color-bg-active,
    $tab-color-text-active,
    $tab-color-bg-disabled,
    $tab-color-text-disabled,
    0
  );
  border-left: 1px solid $tab-color-border;
  display: block;
  font-family: gesso-font-family(system);
  font-size: rem(gesso-font-size(1));
  line-height: (17px / gesso-font-size(1));
  margin: 0;
  padding: rem(gesso-spacing(xsm)) rem(gesso-spacing(sm));

  &:focus {
    background-color: $tab-color-bg-hover;
  }

  &:hover,
  &:visited {
    color: $tab-color-text;
  }

  &:active {
    background-color: $tab-color-bg-active;
    color: $tab-color-text-active;
  }

  &.is-active {
    background-color: $tab-color-bg-active;
    color: $tab-color-text-active;

    &:hover {
      color: $tab-color-text-active;
    }
  }
}
