// @file
// Styles for Tabs.

$tab-background-color: gesso-color(ui, generic, background-light) !default;
$tab-background-color-active: gesso-color(
  ui,
  generic,
  background-dark
) !default;
$tab-background-color-disabled: gesso-color(
  ui,
  generic,
  background-light
) !default;
$tab-background-color-hover: gesso-color(ui, generic, background) !default;
$tab-border-color: gesso-color(ui, generic, border) !default;
$tab-border-radius: 0 !default;
$tab-text-color: gesso-color(text, on-light) !default;
$tab-text-color-active: gesso-color(text, on-dark) !default;
$tab-text-color-disabled: gesso-color(ui, generic, text-light) !default;
$tab-text-color-hover: gesso-color(text, on-light) !default;

.tabs {
  @include clearfix;
}

.tabs__items {
  @include list-clean;
  display: flex;
  flex-direction: column;

  @include breakpoint(gesso-breakpoint(tablet)) {
    flex-direction: row;
  }

  @media print {
    display: none;
  }
}

.tabs__item {
  &:first-child {
    .tabs__link {
      border-bottom-left-radius: $tab-border-radius;
      border-left: 0;
      border-top-left-radius: $tab-border-radius;
    }
  }

  &:last-child {
    .tabs__link {
      border-bottom-right-radius: $tab-border-radius;
      border-top-right-radius: $tab-border-radius;
    }
  }
}

.tabs__link {
  @include button(
    $tab-background-color,
    $tab-text-color,
    $tab-background-color-hover,
    $tab-text-color-hover,
    $tab-background-color-active,
    $tab-text-color-active,
    $tab-background-color-disabled,
    $tab-text-color-disabled,
    0
  );
  border-left: 1px solid $tab-border-color;
  display: block;
  font-family: gesso-font-family(system);
  font-size: rem(gesso-font-size(2));
  line-height: (17px / gesso-font-size(2));
  margin: 0;
  padding: rem(gesso-spacing(1)) rem(gesso-spacing(2));

  &:visited,
  &:hover {
    color: $tab-text-color;
  }

  &:focus {
    background-color: $tab-background-color-hover;
  }

  &:active {
    background-color: $tab-background-color-active;
    color: $tab-text-color-active;
  }

  &.is-active {
    background-color: $tab-background-color-active;
    color: $tab-text-color-active;

    &:hover {
      color: $tab-text-color-active;
    }
  }
}
