// CSS styles and overrides for Pattern Lab only.
// This stylesheet is not loaded by the theme.
@import 'breakpoint';

@import '_patterns/00-config/**/*.scss';
@import '_patterns/01-global/**/*.scss';

// The container for the 'view all' screen, which contains the list of patterns.
.pl-c-pattern-index {
  box-sizing: border-box !important;
  max-width: em(gesso-constrain(lg));
  padding: 0 1em;
}

// <html> tag class around content in Pattern Lab (see _00-head.twig)
.pattern-lab-content {
  min-height: 0;
}

.sg-subtype {
  h2 {
    font-size: 24px;
    margin: 3em 0 0.25em;
    text-transform: capitalize;
  }

  a {
    color: #666;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #333;
    }
  }
}

// override styles leaking into PL's tag class
.pl-c-pattern-info {
  .token.tag {
    border: 0;
    border-radius: 0;
    box-shadow: inherit;
    display: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-transform: none;
    transition: inherit;
  }
}

// Color Swatches
.pattern-lab-color-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: block;
    width: 100%;

    @include breakpoint(800px) {
      margin: 1% 1% 1% 0;
    }
  }

  @include breakpoint(800px) {
    flex-direction: row;
  }
}

.pattern-lab-color-list__set {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    margin-top: 1.2em;
    width: 100%;
  }
}

.pattern-lab-swatch {
  color: #546673;
  display: block;
  font-size: 32px;
  height: 2.5em;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.pattern-lab-swatch__meta-data {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0.55em;
  transition: 0.2s all;
}

.pattern-lab-swatch__variable {
  display: block;
  font-size: 11px;
}

.pattern-lab-swatch__hex {
  display: block;
  font-size: 14px;
}

.pattern-lab-swatch--light-text {
  color: #fff;
}

// Typography
.pattern-lab-font {
  margin-bottom: 30px;
}

.pattern-lab-font__family {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;

  @include breakpoint(800px) {
    text-align: left;
  }
}

.pattern-lab-font__item {
  display: flex;
  flex-direction: column;
  margin: 30px 0;

  @include breakpoint(800px) {
    flex-direction: row;
  }
}

.pattern-lab-font__preview {
  border-bottom: 2px solid #eee;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 20px 0;
  text-align: center;
  width: 100%;

  @include breakpoint(800px) {
    border-bottom: 0;
    border-right: 2px solid #eee;
    margin: 5px 30px 0 0;
    padding: 0 20px;
    text-align: left;
    width: 65%;
  }
}

.pattern-lab-font__preview-character {
  font-size: 75px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  width: 100%;

  @include breakpoint(800px) {
    text-align: left;
    width: 25%;
  }
}

.pattern-lab-font__preview-meta {
  text-align: center;
  width: 100%;

  @include breakpoint(800px) {
    text-align: left;
  }
}

.pattern-lab-font__label {
  color: #999;
}

.pattern-lab-font__name {
  color: #565454;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 5px 0;
}

.pattern-lab-font__weight {
  color: #000;
  font-size: 13px;
  margin-bottom: 5px;
}

.pattern-lab-font__style {
  color: #000;
  font-size: 13px;
  margin-bottom: 5px;
}

// Box Shadow Group
.pattern-lab__box-shadow-group {
  display: flex;
  flex-wrap: wrap;
}

.pattern-lab__box-shadow-label {
  margin: auto;
  padding: 1rem;
  text-align: center;
}
.pattern-lab__box-shadow-item {
  display: flex;
  flex: 0 0 200px;
  height: 200px;
  margin: 0 1rem 1rem;
  width: 200px;
}

// Easing
.pattern-lab-easing__wrapper {
  background-color: #eee;
  padding: 1rem;
}

.pattern-lab-easing__help-text {
  margin-bottom: 1rem;
}
.pattern-lab-easing__indicator {
  background-color: #666;
  border-radius: 10%;
  height: 75px;
  left: 0;
  margin-bottom: 0.5rem;
  position: relative;
  transition-duration: 1s;
  transition-property: left;
  width: 75px;
}

.pattern-lab-easing__item {
  margin-bottom: 1rem;
}

.pattern-lab-easing__group {
  padding: 0 150px 0 1rem;

  &:hover {
    .pattern-lab-easing__indicator {
      left: 100%;
    }
  }
}
// Duration
.pattern-lab-duration__wrapper {
  margin-bottom: 1rem;
}

.pattern-lab-duration__help-text {
  margin-bottom: 1rem;
}
.pattern-lab-duration__indicator {
  background-color: #666;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  margin-bottom: 2rem;
  position: relative;
  transition: all 2s ease-out;
  width: 40px;
}

.pattern-lab-duration__item {
  flex: 0 0 150px;
  padding: 1rem;
  text-align: center;
}

.pattern-lab-duration__group {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  &:hover {
    .pattern-lab-duration__indicator {
      transform: scale(1.5);
    }
  }
}

$swatch-size: rem(150px);
$swatch-padding: 1rem;

.pattern-lab-color-swatch {
  border: 1px solid #c1c1c1;
  flex: 0 0 ($swatch-size + 2 * $swatch-padding);
  margin: 0 $swatch-padding/2 $swatch-padding;
  max-width: ($swatch-size + 2 * $swatch-padding);
  padding: $swatch-padding;
}

.pattern-lab__color-group {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $swatch-padding;
}

.pattern-lab-color-swatch__indicator {
  height: $swatch-size;
  margin-bottom: $swatch-padding;
  width: $swatch-size;
}

.pattern-lab__text-style {
  margin-bottom: 3rem;
}

.pattern-lab-text-style__label {
  text-transform: uppercase;
}
