// @file
// Main styles
$pattern-lab-overrides: false !default;

@import '_patterns/00-config/**/*.scss';
@import '_patterns/01-global/**/*.scss';
@import '_patterns/02-base/**/*.scss';
@import '_patterns/03-layouts/**/*.scss';
@import '_patterns/04-components/**/*.scss';

@import '_patterns/utility-classes/**/*.scss';
@import '_patterns/shame';
