{#
 /**
  * @file
  * Theme override to display a region.
  */
#}

{%
  set classes, constrain = [
    'l-' ~ region|clean_class,
  ],
  [
    'navigation',
    'breadcrumb',
    'help',
    'highlighted',
    'preface',
    'content',
    'postscript'
  ]
%}

{% if content %}
  <section{{ attributes.addClass(classes) }}>
    {% if region in constrain %}<div class="l-constrain">{% endif %}
      {{ content }}
    {% if region in constrain %}</div>{% endif %}
  </section>
{% endif %}
