<div class="form-item form-item--date">
  <label class="form-item__label" for="edit-date">Date</label>
  <input class="form-item__date" id="edit-date" type="date" data-drupal-date-format="Y-m-d">
</div>