{% set classes = [
  'c-figure',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<figure {{ add_attributes({ 'class': classes }) }}{% if caption is defined %} role="group"{% endif %}>
  {{ title_suffix }}
  <div class="c-figure__media">{{ media }}</div>
  {% if caption %}
    <figcaption class="c-figure__caption">{{ caption }}</figcaption>
  {% endif %}
</figure>
