// @file
// Styles for bordered list variant.
$list-border-padding: .25rem;

.list--bordered {
  list-style: none;
  margin-left: 0;

  > li {
    border-bottom: 1px solid #ccc;
    padding: $list-border-padding;
  }

}
