$gesso-theme-config: (
  breakpoints: (
    xs: 0px,
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1920px,
  ), 
  palette: (
    brand: (
      blue: (
        base: #0071bc,
        light: #4773aa,
        light-1: #8ba6ca,
        light-2: #dce4ef,
        dark: #205493,
        dark-1: #112E51,
    ),
      red: (
        base: #e31c3d,
        light: #e59393,
        light-1: #f9dede,
        dark: #cd2026,
        dark-1: #981b1e,
      )
    ),
    grayscale: (
      white: #fff,
      grayscale-1: #ccc,
      black: #000,
    )
  ),
  color: (
    text: (
      primary: #000,
      secondary: #000,
      accent: #000,
      on-light: #000,
      on-dark: #000,
      link: #000,
      link-hover: #000,
      link-visited: #000,
    ),
    background: (
      primary: #fff,
      secondary:  #000,
    )
  ),
  typography: (
    base-font-size: 16px,
    font-family: (
      base: "Source Sans Pro, san-serif",
      system: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans, sans-serif",
      monospace: "Consolas, 'Lucida Console', 'Liberation Mono', 'Courier New', monospace, sans-serif",
    ),
    font-size: (
      0: 12,
      1: 16,
      2: 24,
      3: 32,
      4: 40,
      5: 48,
      6: 56,
      7: 72,
    ),
    font-weight: (
      light: 300,
      regular: 400,
      semibold: 600,
      bold: 700,
    ),
    line-height: (
      tight: 1.1,
      base: 1.25,
      wide: 1.7,
    ),
    display-styles: (
      h1: (
      font-family: sans-serif,
      font-weight: 400,
      font-size: 60,
      line-height: 1.25,
      letter-spacing: -0.04em,
      color: #000,
      ),
      h2: (
      font-family: sans-serif,
      font-weight: 700,
      font-size: 40,
      line-height: 1.25,
      color: hotpink,
      )
    )
  ),
  z-index: (
    nav: 1000,
    drawer: 1200,
    modal: 1300,
  ),
  spacing: (
    xxsm: 4px,
    xsm:  8px,
    sm: 16px,
    md: 24px,
    lg: 40px,
    xl: 56px,
    2xl: 96px,
  )
) !default;

