<div class="l-{{ region_name ?: 'region' }}">
  {% if has_constrain %}
    <div class="l-constrain {{ constrain_modifier_classes }}">
  {% endif %}
  {% block content %}
    Region Content
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</div>
