<div class="l-{{ region_name ?: 'region' }}">
  {% if has_constrain %}
    <div class="{{ constrain_classes ?: 'l-constrain' }}">
  {% endif %}
  {% block content %}
    Region Content
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</div>
