{% set classes = [
  'l-' ~ (region_name ?: 'region'),
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

{% set constrain_classes = [
  'l-constrain',
  constrain_modifier_classes ? constrain_modifier_classes,
]|join(' ')|trim %}

<div class="{{ classes }}">
  {% if has_constrain %}
    <div class="{{ constrain_classes }}">
  {% endif %}
  {% block content %}
    Region Content
  {% endblock %}
  {% if has_constrain %}
    </div>
  {% endif %}
</div>
