@mixin link(
  $color: $color-text-link,
  $hover-color: $color-text-link-hover,
  $visited-color: $hover-color,
  ) {
  color: $color;
  &:visited {
    color: $visited-color
  }
  &:hover, &:active {
    color: $hover-color;
  }
}
