// HTML Element: Table

@use '00-config' as *;

caption {
  margin-bottom: rem(gesso-spacing(0.5));
}

// col {}

// colgroup {}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: rem(gesso-spacing(2));
  min-width: 100%;
}

// tbody {}

td {
  background-color: gesso-color(table, background);
  border: 1px solid gesso-color(table, border);
  padding: rem(gesso-spacing(2));
}

tfoot {
  td,
  th {
    background-color: gesso-color(table, background-foot);
  }
}

th {
  background-color: gesso-color(table, background);
  border: 1px solid gesso-color(table, border);
  padding: rem(gesso-spacing(2));
  text-align: left;
}

thead {
  td,
  th {
    background-color: gesso-color(table, background-head);
  }

  @media print {
    display: table-header-group;
  }
}

tr {
  @media print {
    page-break-inside: avoid;
  }
}
