// @file
// Styles for hero using a background image.

.hero-bg-image {
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  padding: 4em 1em;
  text-align: center;

  &.has-overlay {
    @include z-index(default);
    position: relative;

    &::after {
      @include z-index(level-1);
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .hero-bg-image__content {
      @include z-index(level-2);
      position: relative;
    }
  }
}

.hero-bg-image__title {
  margin-bottom: 0.25em;
}

// .hero-bg-image__subtitle {
// }
