<div class="form-item form-item--checkbox">
  <input class="form-item__checkbox" id="edit-checkbox" type="checkbox" checked="checked">
  <label class="form-item__label is-after" for="edit-checkbox">Checkbox</label>
  <div class="form-item__description">
    <p>The description for this form field.</p>
  </div>
</div>

<fieldset class="fieldset fieldset--checkboxes" aria-describedby="edit-checkboxes-description">
  <legend class="fieldset__legend">
    <span class="fieldset__legend-text">Checkboxes</span>
  </legend>
  <div class="fieldset__content">
    <div class="form-item form-item--checkboxes">
      <div class="form-item form-item--checkbox">
        <input class="form-item__checkbox" id="edit-checkboxes-a" type="checkbox">
        <label class="form-item__label is-after" for="edit-checkboxes-a">Choice A</label>
      </div>
      <div class="form-item form-item--checkbox">
        <input class="form-item__checkbox" id="edit-checkboxes-b" type="checkbox">
        <label class="form-item__label is-after" for="edit-checkboxes-b">Choice B</label>
      </div>
      <div class="form-item form-item--checkbox">
        <input class="form-item__checkbox" id="edit-checkboxes-c" type="checkbox">
        <label class="form-item__label is-after" for="edit-checkboxes-c">Choice C</label>
      </div>
      <div class="form-item form-item--checkbox">
        <input class="form-item__checkbox" id="edit-checkboxes-d" type="checkbox">
        <label class="form-item__label is-after" for="edit-checkboxes-d">Choice D</label>
      </div>
      <div class="form-item form-item--checkbox">
        <input class="form-item__checkbox" id="edit-checkboxes-e" type="checkbox" disabled>
        <label class="form-item__label is-after" for="edit-checkboxes-e">Disabled Choice</label>
      </div>
      <div class="form-item form-item--checkbox">
        <input class="form-item__checkbox" id="edit-checkboxes-f" type="checkbox" checked disabled>
        <label class="form-item__label is-after" for="edit-checkboxes-f">Disabled Checked Choice</label>
      </div>
    </div>
    <div class="fieldset__description" id="edit-checkboxes-description">
      <p>The description for this form field.</p>
    </div>
  </div>
</fieldset>
