<div class="form-item form-item--range">
  <label class="form-item__label" for="edit-range">Range</label>
  <input class="form-item__range" id="edit-range" type="range" step="1" min="0" max="100">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--range is-disabled">
  <label class="form-item__label" for="edit-range">Disabled range</label>
  <input class="form-item__range" id="edit-range" type="range" step="1" min="0" max="100" disabled>
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--range is-full-width">
  <label class="form-item__label" for="edit-range">Full width range</label>
  <input class="form-item__range" id="edit-range" type="range" step="1" min="0" max="100">
  <div class="form-item__description">The description for this form field.</div>
</div>
