<div class="form-item form-item--textfield">
  <label class="form-item__label" for="edit-textfield">Textfield</label>
  <input class="form-item__text" id="edit-textfield" type="text" size="60" maxlength="128">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textfield">
  <label class="form-item__label" for="edit-textfield-placeholder">Textfield with placeholder</label>
  <input class="form-item__text" placeholder="Placeholder text" id="edit-textfield-placeholder" type="text" size="60" maxlength="128">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textfield is-disabled">
  <label class="form-item__label" for="edit-textfield-disabled">Disabled textfield</label>
  <input class="form-item__text" id="edit-textfield-disabled" type="text" size="60" maxlength="128" disabled>
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textfield is-full-width">
  <label class="form-item__label" for="edit-textfield">Full width textfield</label>
  <input class="form-item__text" id="edit-textfield" type="text" size="60" maxlength="128">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textfield is-required">
  <label class="form-item__label" for="edit-required-textfield">Required textfield<span class="form-item__required-marker"><span class="visually-hidden">This field is required.</span></span></label>
  <input class="form-item__text is-required" id="edit-required-textfield" type="text" size="60" maxlength="128" required="required" aria-required="true">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--email">
  <label class="form-item__label" for="edit-email">Email</label>
  <input class="form-item__email" id="edit-email" type="email" size="60" maxlength="255">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--number">
  <label class="form-item__label" for="edit-number">Number</label>
  <input class="form-item__number" id="edit-number" type="number" step="1">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--password">
  <label class="form-item__label" for="edit-password">Password</label>
  <input class="form-item__password" id="edit-password" type="password" size="60" maxlength="128">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--search">
  <label class="form-item__label" for="edit-search">Search</label>
  <input class="form-item__search" id="edit-search" type="search" size="60" maxlength="128">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--tel">
  <label class="form-item__label" for="edit-tel">Telephone</label>
  <input class="form-item__tel" id="edit-tel" type="tel" size="30" maxlength="128">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textarea">
  <label class="form-item__label" for="edit-textarea">Textarea</label>
  <textarea class="form-item__textarea" id="edit-textarea" cols="60" rows="5"></textarea>
  <div class="form-item__description">The description for this form field.</div>
</div>
